[2018-05-07 06:34] sdelamo opened #1031 "Document Cloud Ready Features -> AWS Route 53 Support"
see `serviceDiscoveryRoute53.adoc`

[2018-05-31 13:22] graemerocher opened #1196 "Support Kinesis/SNS/S3/Cognito/DynamoDB functions in Micronaut Java and Groovy"
We should support  Kinesis/SNS/S3/Cognito/DynamoDB functions in Micronaut

[2019-02-05 05:47] sdelamo opened #1 "Callouts not being rendered in docs"

[2019-02-11 16:11] rvanderwerf opened #3 "Docs not clear on setup for parameter store, need example app"
Docs are not clear on getting parameter store support set up, need to improve docs and working example app that uses @Value annotations in a sample app that come from ssm parameter store.

[2019-02-12 20:45] mmindenhall opened #4 "Self-injecting MicronautRequestHandler prevents Spock mocks"
The `MicronautRequestHandler` currently creates its `ApplicationContext` during the `handleRequest` method, and uses it to inject its dependencies immediately before calling the abstract `execute` method implemented by the subclass.

For anyone using Spock as their test framework, this breaks the ability to implement tests using mocked beans that are injected into the handler class.  I.e., in the

[2019-02-13 09:48] huksley opened #6 "GraalVM native generated app is not working in AWS"
I am using mn version 1.1.0.M1
Created app using `mn create-app my-app --features aws-api-gateway-graal`

Trying to deploy it and it not working, gives error in CloudWatch:
[code]

Example project here: https://github.com/huksley/micronaut-aws-api-gateway-graal

[2019-02-13 09:53] graemerocher commented on #6
Hmm.. I see that occasionally as well ... not for every request. Seems intermittent. Think we need to remove the read timeout handling from the client. Thanks for the feedback

[2019-02-13 10:33] huksley commented on #6
@graemerocher thanks!
btw I have a slightly more complicated project (derived from Micronaut Guide one)
deploying to AWS and calling API results in Segfaults,
is there any way to debug that?
https://github.com/huksley/serverless-java-micronaut/issues/1

[2019-02-13 10:35] graemerocher commented on #6
Best advice is to report the segfault to https://github.com/oracle/graal/issues

[2019-02-13 10:45] jsirenax opened #7 "S3Event as input to MicronautRequestHandler does not work"
Having `com.amazonaws.services.lambda.runtime.events.S3Event` as input to the `MicronautRequestHandler` like below causes an ClassCastException when the execute method is invoked from the handler.

[code]
Error
[code]

[2019-02-13 11:36] graemerocher commented on #6
The read timeout issues is resolved by https://github.com/micronaut-projects/micronaut-aws/commit/ee5d792597951c2852d12935f606508b55d88a26

Any Graal issues will need to be resolved by reports to Graal. Thanks for the feedback!

[2019-02-13 11:36] #6 closed

[2019-02-13 11:43] huksley commented on #6
That was fast! :bullettrain_side:
Also fixed https://github.com/huksley/serverless-java-micronaut/issues/1
by adding some fixes mentioned in graal issues.

Btw, how I can try with master version of Micronaut, i.e. not 1.1.0-1M?

[2019-02-13 11:46] graemerocher commented on #6
You can add the snapshot repo to `build.gradle`:

[code]

And specifying the snapshot version as your BOM:

[code]

[2019-02-13 18:34] huksley commented on #6
@graemerocher Thanks,
compiling https://github.com/huksley/micronaut-aws-api-gateway-graal  with snapshot dependencies,
the problem still the same (running in `sam local-api`):

[code]

I`ve checked my dependencies via `./gradlew dependencies`

[code]

[2019-02-13 18:47] huksley commented on #6
Hmm, enabling trace level on logback results in errors like this:

[code]

Full dump here: https://gist.github.com/huksley/c94a3f60b0fa8199ebebfbb32d91f588
I have substitutions in place for Netty, maybe something else needed?

[2019-02-13 19:25] graemerocher commented on #6
You need the snapshot of micronaut-function-aws-custom-runtime

[2019-02-13 21:58] huksley commented on #6
Finally got `mn create` [example](https://github.com/huksley/micronaut-aws-api-gateway-graal/) working, here are a summary of results and findings

  - SAM working
  - AWS Lambda working
  - Fully switched to 1.1.0-SNAPSHOT + were forced to add direct dependency on `io.micronaut.aws:micronaut-function-aws-api-proxy`
  - Excluded `jackson afterburner` module
  - Added more reflection rules to JSON

[2019-02-14 07:55] graemerocher commented on #6
@huksley Thanks for the update and sticking with it. The project template for `aws-api-gateway-graal` can be found here https://github.com/micronaut-projects/micronaut-profiles/tree/master/base/features/aws-api-gateway-graal/skeleton

It would be great if you could send a PR with the changes to make all of this work better. Could you do that?

[2019-02-14 08:19] huksley commented on #6
Yes, I will do it! Can you advise how I can try out my changes in this template before making a PR for it?

[2019-02-14 08:33] graemerocher commented on #6
You will need to build master from source https://docs.micronaut.io/latest/guide/index.html#buildSource

Then checkout https://github.com/micronaut-projects/micronaut-profiles and to

`./gradlew pTML` on that repo too

Then you should be able to do `mn create-app my-app --features aws-api-gateway-graal` to create an app. Every time you make a change to `micronaut-profiles` you need to do `./gradle

[2019-02-14 12:25] huksley commented on #6
@graemerocher

https://github.com/micronaut-projects/micronaut-profiles/pull/107

[2019-02-18 17:00] codependent opened #9 "Improve the documentation about AWS API Gateway proxy and Lambda integration"
This request is related to this stackoverflow question: https://stackoverflow.com/questions/54747222/how-to-create-a-crud-api-on-amazon-lambda-using-micronaut

I wanted to develop a CRUD API in a single Micronaut project, including all the processing functions in it and deploying a single Lambda function.

After a lot of trial and error I  managed to make it work as described in the stackoverflow

[2019-02-18 23:05] codependent opened #8 "Micronaut app as AWS Lambda doesn't enforce the status code set in the controller method"
### Task List

I have a Micronaut AWS Lambda application using the api gateway feature. Thus I have the following `StreamLambdaHandler`:

[code]
And this Controller:
[code]

When invoked from AWS API Gateway, configured as proxy resource, the returned status is 200 when it shoud be 201 as defined in the controller method.

### Expected Behaviour

The returned status code in AWS API Gateway should

[2019-02-19 09:57] codependent commented on #8
Digging in the source code I have found this:

`MicronautLambdaContainerHandler.proxyStream()` calls the `proxy()` method in which the `ContainerResponseType` is created. This object sets the response as a `MicronautAwsProxyResponse`:
[code]

The constructor sets a ok (200) status by default:
[code]

Going on with the request processing we get to `MicronautLambdaContainerHandler.handleRequest`. Th

[2019-02-19 16:44] codependent opened #10 "Lambda with proxy integration doesn't unmarshal the JSON body into de @Body annotated controller parameters"
There may be a problem with the unmarshalling process in annotated controllers running as lambdas with proxy integration. The full description of the problem can be found in Stackoverflow: https://stackoverflow.com/questions/54769250/micronaut-lambda-with-proxy-cant-unmarshal-object-from-json-body-io-micronaut-w

A Sample project is available here: https://github.com/codependent/micronaut-aws-lamb

[2019-02-20 10:28] #4 closed

[2019-02-20 10:39] #7 closed

[2019-02-20 10:40] graemerocher commented on #7
the above commit adds type conversion facility to `MicronautRequestHandler`. The default uses the `ConversionService` but you can override `convertInput` to perform any custom conversion

[2019-02-20 10:51] #8 closed

[2019-02-20 11:10] #10 closed

[2019-02-20 11:13] #9 closed

[2019-02-20 15:53] codependent commented on #9
Hi, first off I’d like to thank you for taking care of the issues so quickly. Just one question, is there a snapshot build where I can try them?

[2019-02-20 19:07] codependent opened #11 "Improve the access to multiple request parameters in Lambdas with proxy integration"
This improvement request is related to this question from stackoverflow: https://stackoverflow.com/questions/54768208/is-it-possible-to-access-the-whole-request-information-in-a-micronaut-lambda-wit

The point is sometimes it may be necessary to access multiple values from the request, headers, query params, body...

In a controller like this:
[code]
if we wanted to access a bunch of headers, plus

[2019-02-21 15:13] codependent opened #12 "Lambda with proxy integration fails with Execution failed due to configuration error: Malformed Lambda proxy response"
A sample project is available here using micronaut-aws-lambda-proxy 1.1.0.RC1: https://github.com/codependent/micronaut-aws-lambda-proxy

The problem is with a controller like this:

[code]

The Ping argument is correctly unmarshalled (as seen in the logs)...

```[36m15:07:27.873[0;39m [1;30m[pool-1-thread-5][0;39m [34mINFO [0;39m [35mc.c.m.awslambda.web.PingController[0;39m - ping Ping(value=myva

[2019-02-21 15:57] codependent commented on #12
I have just verified that the problem comes from the additional response information "statusDescription":"Created" that is set in MicronautAwsProxyResponse:

[code]

I removed the if/else portion and tried again sucessully:

[code]

The statusDescription belongs to the AwsProxyResponse class of aws-serverless-java-container-wore so I'm quite confused why it is there and why it makes AWS API Gatewa

[2019-02-23 16:15] javapapo opened #13 "SAM Testing of lambda - fails while deploying to AWS works!"
Hello I was going through the article [here](https://guides.micronaut.io/micronaut-function-aws-lambda/guide/index.html) .

I decided to experiment with a far simpler version - following though the steps of the article.
Full example project:https://www.dropbox.com/s/af87ua716lh85cw/papolambda.zip

Practically is a simple λ function that returns a String nothing special.

I have tried to test it wi

[2019-02-25 15:48] #11 closed

[2019-02-25 15:50] #12 closed

[2019-02-27 10:57] eisig opened #14 "aws custom runtime throw exception"
I write very simple demo java project with aws custom runtime. (micronaut.version: 1.1.0.M1)
It has  just one controller

[code]
 project: https://github.com/eisig/lambda-demo2

When invoked from AWS API Gateway.  The first call will return  as exptected.
Then invoke it again a few minutes later, the api return` {"message": "Internal server error"}`.

Logs:

[code]

[2019-02-27 11:44] eisig commented on #14
It seems that micronaut-aws RC2 fixed this.

[2019-02-27 11:44] #14 closed

[2019-03-05 17:07] codependent opened #15 "Authorization header not bound in AWS API Gateway Lambda Authorizer"
I am using Micronaut 1.1.0.M2 and have created a lambda function to act as an API Gateway Lambda Authorizer (https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-use-lambda-authorizer.html).

The user sends a header (JWT-Authorization) containing a Jwt token to validate in the authorizer. I've tried different ways to access it, but I haven't found a way to get its value in the M

[2019-03-05 21:15] drissamri opened #16 "Support for API Gateway with a custom domain"
When using the API Gateway support added in https://github.com/micronaut-projects/micronaut-core/issues/540 it works until you add a custom domain name to the API Gateway, then the Lambda is invoked but return a 404.

### Steps to Reproduce
Not sure how I can add a easy to reproduce test case since some setup for the domain is needed.

1. Create Micronaut app with AWS API Gateway support
2. Create

[2019-03-12 11:48] graemerocher commented on #16
Can you provide an example of your API gateway request JSON when using a custom domain?

[2019-03-12 11:51] graemerocher commented on #15
Seems like this should be done with a request handler? https://github.com/awslabs/aws-apigateway-lambda-authorizer-blueprints/blob/master/blueprints/java/src/example/APIGatewayAuthorizerHandler.java

[2019-03-12 12:26] codependent commented on #15
Yep, I had already seen that example. I just wanted to know if it could be implemented directly with Micronaut instead of directly with the aws RequestHandler...

[2019-03-12 12:37] graemerocher commented on #15
Not that I am aware of will have to investigate

[2019-03-12 12:43] codependent commented on #15
I appreciate it @graemerocher!

[2019-03-14 07:20] musketyr commented on #16
@graemerocher the main difference is the `path` in the request

[code]

where `/v1` is the stage prefix

[2019-03-14 07:31] graemerocher commented on #16
@musketyr So it is my understanding that is what the `stripBasePath` method is for which has to be configured by the user https://github.com/micronaut-projects/micronaut-aws/blob/master/function-aws-api-proxy/src/main/java/io/micronaut/function/aws/proxy/AbstractLambdaContainerHandler.java#L171

Or am I mistaken?

[2019-03-14 08:00] musketyr commented on #16
that could be one of the solutions but it would be better if the integration is able to determine it itself. the API can be in theory accessed in both ways - using the custom domain and using the original AWS native URL. here's a sample JSON:

[code]

`resource` is actually the path you are looking for but it may contain variables, therefore I reconstruct the path from the resource and path variab

[2019-03-14 08:02] musketyr commented on #16
FYI here's a sample request handler to inspect the request

[code]

[2019-03-21 12:02] codependent opened #18 "Extremely slow cold starts for a micronaut functions deployed on AWS Lambda"
This issue refers to the following function: https://github.com/codependent/micronaut-aws-authentication-function

It's a basic function that generates a JWT token:

[code]

Normally (warm behaviour) this AWS executes really fast (~5ms):

However the cold start is extremely slow ~20s. I was expecting that Micronaut-based java8 lambdas start way faster than normal Java applications but this shows t

[2019-03-21 12:26] graemerocher commented on #18
Hmm there seems to be have been a performance regression with 1.1.x

Downgrading to 1.0.x results in 600ms cold start times.

Looking into it. Thanks for the report

[2019-03-22 11:52] #16 closed

[2019-03-25 15:07] rvanderwerf opened #20 "No way to set skill id for Alexa skill builder in AlexaFunction"
For security Amazon recommends the user set the skill ID on their skill so the SDK will match that ID with the incoming request and reject it if it doesn't match. You can force disable this to make it work in the AWS Developer Console, but it's not recommended. Need to add a configuration value to the application.yml and have the https://github.com/micronaut-projects/micronaut-aws/blob/38fa1c45d4d

[2019-03-26 11:38] graemerocher commented on #18
Actually I take that back the behaviour is the same in 1.0.4 as 1.1 RC1 it is interesting because the Groovy function approach executes in 600ms from a cold start https://github.com/micronaut-projects/micronaut-examples/tree/master/hello-world-lambda

So it seems to be something todo with the `FunctionalApplication` approach

[2019-03-26 14:11] graemerocher commented on #18
Seems this doesn't impact applications created with `mn create-app hello-gateway --features aws-api-gateway` either as I get around 1s cold start times for that, so must be something specifically wrong with MicronautRequestStreamHandler however what that is I haven't been able to establish yet.

[2019-03-26 15:33] #20 closed

[2019-03-27 08:53] graemerocher commented on #18
So I still haven't gotten to the bottom of this, it appears to be something specific to using `io.micronaut.function.aws.MicronautRequestStreamHandler` that makes the whole function slower for some bizarre reason. The logs in CloudWatch show that the execution is just generally slower.

If I alter the function to instead subclass `FunctionInitializer` and change the deploy task:

[code]

And with

[2019-03-28 00:17] codependent commented on #18
Wow, this is REALLY weird. I've been having a quick look at this and seen that the two places where most time is wasted are always:

For a 17s cold start:

- 9s were spent in starting the application context in `io.micronaut.function.executor.AbstractExecutor`:

[code]

- 6 more seconds executing a decode call at `io.micronaut.function.executor.StreamFunctionExecutor.decodeInputArgument()`

[code]

[2019-03-28 07:50] graemerocher commented on #18
Yeah it is really bizarre, if you enable logging the function is just slower, with no indication why and the only difference in the code paths I can see is one uses `MicronautRequestStreamHandler`

[2019-03-29 05:16] rnielsen opened #22 "Exception Handlers not run in AWS API Gateway"
Exception Handlers are not run when Micronaut is run through API Gateway integration.   Any exceptions that occur return a 502 Gateway Timeout to the client.

This affects custom error handlers as well as @Valid annotations

Example project at https://github.com/rnielsen/micronaut-aws-apiproxy-test
[code]

[code]
Tested against io.micronaut.aws:micronaut-function-aws-api-proxy:1.1.0.RC3"

[2019-03-29 05:47] rnielsen opened #23 "415 error returned on methods with multiple @Consumes annotations in AWS API Gateway"
When a method has multiple media types in it's @Consumes annotation eg. `@Consumes({MediaType.APPLICATION_FORM_URLENCODED, MediaType.APPLICATION_JSON})`, it always returns a 415 response when deployed through the AWS API Gateway integration.

This specifically affects the default /login and /oauth/token endpoints when using Micronaut Authentication (along with [Issue #22](https://github.com/micron

[2019-03-30 08:37] pilot-no-21 commented on #3
Facing the same issue, I am not able to properly configure it. Just trying some logical hit and trials

[2019-03-30 11:47] pilot-no-21 commented on #3
@musketyr @graemerocher Please help for the same.

[2019-03-30 11:53] pilot-no-21 commented on #3
aws:
    client:
        system-manager:
            parameterstore:
                enabled: true
                useSecureParameters: true

This is the configuration
And in aws, I have stored a key:
**config/application/db/dbname**

I am accessing it using ${db.dbname}
But getting the error : **Property doesn't exist or cannot be converted**

Please let me know, where I am getting wrong

[2019-03-30 12:33] musketyr commented on #3
Which version you're using? Please, try the snapshot version.

https://docs.micronaut.io/1.1.0.M2/guide/index.html#usingsnapshots

Dne so 30. bře 2019 12:53 uživatel pilot-no-21 <notifications@github.com>
napsal:

[2019-03-30 13:14] pilot-no-21 commented on #3
Okay. But the way in which I have mentioned the configuration, is it correct ?

[2019-03-30 13:21] musketyr commented on #3
One thing which is probably not mentioned correctly in the docs yet is that
I believe you need to put your configuration into `bootstrap.yml` not
`application.yml`.

Dne so 30. bře 2019 14:14 uživatel pilot-no-21 <notifications@github.com>
napsal:

[2019-04-01 06:54] #15 closed

[2019-04-01 09:52] #22 closed

[2019-04-01 10:02] #23 closed

[2019-04-01 10:34] pilot-no-21 commented on #3
It's actually mentioned there, that is application.yml
![Screenshot at 2019-04-01 15-25-42](https://user-images.githubusercontent.com/46525562/55321627-cdbcad00-5497-11e9-8f8a-a188262b4a8d.png)

[2019-04-01 22:34] dustinsand opened #24 "Docker build fails for examples/api-proxy-graal-custom-runtime-example"
Followed the README for examples/api-proxy-graal-custom-runtime-example, but it failed on the generation of reflect.json step because "Could not find or load main class io.micronaut.graal.reflect.GraalClassLoadingAnalyzer" from the fat jar.

What would prevent the dependency for io.micronaut.graal.reflect.GraalClassLoadingAnalyzer from being included in the fat jar?

[2019-04-02 06:06] rnielsen commented on #22
Thanks.  Looks better, although CORS headers are not included when exceptions occur
[code]
[code]

[2019-04-02 07:57] musketyr commented on #3
yes, and this is wrong it needs to be `bootstrap.yml` and also there must be `micronaut.config-client.enabled` property set to `true` and in case of running Lambda environment variable `MICRONAUT_ENVIRONMENTS` needs to be set to `ec2` to enable the parameter store.

[2019-04-02 08:01] pilot-no-21 commented on #3
Thanks a lot. @musketyr

But just tell me, is this the correct way of accessing the property ?

**config/application/db/dbname**
I am accessing it using @value(**"${db.dbname}"**)

[2019-04-02 08:08] musketyr commented on #3
I'm preparing a blog post but there an issue with injection so I need to wait for fixing the bug (micronaut-projects/micronaut-core#1472). Actually I've learned today that the most efficient way is to use `@Property(value = "db.dbname")`.

Here's the draft of the post: https://medium.com/@musketyr/how-to-configure-micronaut-using-aws-parameter-store-fe6bd58903c8

[2019-04-02 12:42] graemerocher commented on #22
@rnielsen could you raise an separate issue for that.. thx

[2019-04-02 23:43] rnielsen opened #25 "Filters not run on Exception in AWS API Gateway"
Filters are not run when Exception Handlers are invoked and Micronaut is run through API Gateway integration.

The specific issue affecting me is that the CorsFilter is not running so CORS headers are not being added when exceptions are thrown.

Example project at https://github.com/rnielsen/micronaut-aws-apiproxy-test
[code]

[code]
Tested against io.micronaut.aws:micronaut-function-aws-api-proxy

[2019-04-02 23:44] rnielsen commented on #22
@graemerocher done - [#25](https://github.com/micronaut-projects/micronaut-aws/issues/25)

[2019-04-07 19:03] dustinsand commented on #24
Read in latest release notes for 1.1.0.RC2, GraalClassLoadingAnalyzer has been removed.

https://docs.micronaut.io/1.1.0.RC2/guide/index.html#graal

[2019-04-07 19:03] #24 closed

[2019-04-08 10:20] #25 closed

[2019-04-12 01:23] aarthisankaran opened #26 "No bean of type [io.micronaut.jackson.codec.JsonMediaTypeCodec] exists"
Trying to use the example: micronaut-aws/examples/api-proxy-graal-custom-runtime-example/

I am forced to use micronautVersion=1.1.0.M2

if not I get the error - Could not find or load main class io.micronaut.graal.reflect.GraalClassLoadingAnalyzer

But with 1.1.0.M2 deployed to Lambda I get below error
{
  "errorMessage": "Error starting Micronaut container: No bean of type [io.micronaut.jackson.

[2019-04-14 08:54] lkonya opened #27 "Aws-api-gateway feature is not working with kotlin"
### Steps to Reproduce
1. Create project: `mn create-app movies-kotlin --lang kotlin --features aws-api-gateway`
3. Add PingController (the Kotlin equivalent of) https://github.com/micronaut-projects/micronaut-aws/blob/master/examples/api-proxy-example/src/main/java/example/PingController.java
2. Run `./gradlew clean build && sam local start-api --template sam.yaml`

[code]

### Expected Behaviour

[2019-04-15 15:07] mrwilby commented on #26
This seems to be the same issue as https://github.com/micronaut-projects/micronaut-core/issues/1533 ?

@graemerocher is there any workaround for this? We're seeing the same issue...

[2019-04-15 15:10] graemerocher commented on #26
Please can you use the latest release. Graal support changed significantly between 1.1.0 M2 and the now released 1.1.0 GA

[2019-04-15 15:18] graemerocher commented on #26
I have removed these old examples. If you wish to do create a new example use the CLI instead:

[code]

[2019-04-15 15:18] #26 closed

[2019-04-15 16:05] aarthisankaran commented on #26
What version of the cli should I be using?

Thanks!

On Mon, Apr 15, 2019 at 11:18 AM Graeme Rocher <notifications@github.com>
wrote:

________________________________________________________

The information contained in this e-mail is confidential and/or proprietary to Capital One and/or its affiliates and may only be used solely in performance of work or services for Capital One. The informatio

[2019-04-15 16:25] graemerocher commented on #26
Using 1.1.0

[2019-04-15 17:31] aarthisankaran commented on #26
It works!!! One last question as I am working on proving that we should
start using micronaut for serverless microservices.

Should I use lambda FunctionBean or should I be using controller? There
will be several GET/POST method etc.

On Mon, Apr 15, 2019 at 12:25 PM Graeme Rocher <notifications@github.com>
wrote:

________________________________________________________

The information contained

[2019-04-16 06:15] graemerocher commented on #26
If your intention is to use GraalVM then you don't have much choice and only the API gateway / controller approach works because it is based on the Lambda custom runtime API

[2019-04-16 10:49] pilot-no-21 commented on #3
I am still facing the issue.
I have stored a parameter with path : config/application/score/dbname

and I am accessing it in ec2 environment using :
@Property(name="score.dbname")
String dbname;

and this is the error I am getting.

**```
Message: Error resolving field value [score.dbname]. Property doesn't exist or cannot be converted
Path Taken: new SecurityFilter(Collection securityRules,[Colle

[2019-04-16 10:50] pilot-no-21 commented on #3
`Message: Error resolving field value [score.dbname]. Property doesn't exist or cannot be converted
Path Taken: new SecurityFilter(Collection securityRules,[Collection authenticationFetchers],RejectionHandler rejectionHandler,SecurityFilterOrderProvider securityFilterOrderProvider) --> new TokenAuthenticationFetcher([Collection tokenValidators],TokenResolver tokenResolver,ApplicationEventPublisher

[2019-04-16 10:51] pilot-no-21 commented on #3
Please help me out of this. I am not able to proceed forward without this.

[2019-04-16 11:15] pilot-no-21 commented on #3
I am still facing the issue.
I have stored a parameter with path : config/application/score/dbname

and I am accessing it in ec2 environment using :
@Property(name="score.dbname")
String dbname;

and this is the error I am getting.

**Message: Error resolving field value [score.dbname]. Property doesn't exist or cannot be converted**

And what's the error we face when the app is not able to access

[2019-04-16 11:28] musketyr commented on #3
can you share your `bootstrap.yml` and a full log with ¨DEBUG` enabled?

[2019-04-16 11:37] musketyr commented on #3
I was using this function

https://github.com/musketyr/micronaut-aws-parameter-store-example/blob/master/src/main/groovy/parameter/store/reader/ParameterStoreReaderFunction.groovy

the logged property map had to contain `route53-application` or something similar if the integration was setup properly

[2019-04-16 13:39] pilot-no-21 commented on #3
I am sending the bootstrap.yml configuration and the stacktrace for the same error. Please look into it.
`aws:
    client:
        system-manager:
            parameterstore:
                enabled: true
                useSecureParameters: true
                rootHierarchyPath: /config/application`

`13:29:01.466 [main] INFO  i.m.context.env.DefaultEnvironment -
Established active environments:

[2019-04-16 13:50] aarthisankaran commented on #26
We have to use our internal gateway at Capital One. We have a place for
transformation which I am trying to get details on how the custom payload
for Lambda will look like.

I see that the micronaut lambda handler takes "path", "httpMethod" when I
tried hitting the payload. Where can I get a full list, and if it has to be
"method" instead of "httpMethod", is it possible to override?

On Tue, Apr 1

[2019-04-16 14:19] musketyr commented on #3
first of all, you're missing `micronaut.config-client.enabled` as already mentioned here https://github.com/micronaut-projects/micronaut-aws/issues/3#issuecomment-478887113

[code]

[2019-04-16 14:22] musketyr commented on #3
or maybe it's no longer needed in the last release: it looks like the AWS Parameter Store is configured properly:

[code]

[2019-04-16 14:31] musketyr commented on #3
try to remove `rootHierarchyPath: /config/application`

[2019-04-17 06:49] pilot-no-21 commented on #3
Thanks a lot
I got it correct now !
I removed the explicit root hierarchy path, and named a parameter in AWS as:
config/${applicationName}/db/dbname
and accessed it using @Property(name = "db.dbname")

Thanks a lot for the help !

[2019-04-18 12:47] scarlier opened #30 "FunctionInitializer does not parse @JsonProperty"
while using micronaut version 1.1

When using the FunctionInitializer the Pojo that is parsed with jackson does not read the @JsonProperties annotation.

*Json*
[code]

*Pojo*
[code]

*function*
[code]

while using ObjectMapper directly it works
[code]

[2019-04-19 09:22] lkonya opened #31 "URI query parameters are not propagated"
### Steps to Reproduce
1. Create project: `mn create-app aws-api-gateway-test --features aws-api-gateway`
2. Add a controller, with endpoints that is waiting for optional or mandatory query params
[code]
2. Run `./gradlew clean build && sam local start-api --template sam.yaml`
3. Call `http://127.0.0.1:3000/optional/books?max=10&offset=10` or ``http://127.0.0.1:3000/mandatory/books?max=10&offset=1

[2019-04-19 09:34] lkonya opened #32 "URL encoding is not propagating"
### Steps to Reproduce
1. Create project: `mn create-app aws-api-gateway-test --features aws-api-gateway`
2. Add a controller, with an endpoint that waits for a path param
[code]
2. Run `./gradlew clean build && sam local start-api --template sam.yaml`
3. Call `http://127.0.0.1:3000/books/The%20Name%20of%20the%20Wind` or `http://127.0.0.1:3000/books/The Name of the Wind`

Example project can be ch

[2019-04-20 15:32] mengjiann commented on #13
You might want to check the path of to the template.yaml.

Based on your provided template.yaml, the template.yaml should be in the same folder level as the target folder.

[2019-04-23 17:48] aarthisankaran commented on #26
@graemerocher when you have a moment can you respond to this query

[2019-04-29 16:13] lkonya commented on #31
This issue has 2 root causes:
1. AWS-Serverless-Java-Container dropped the support for the single query and header values, in exchange for the multi value support
	- https://github.com/awslabs/aws-serverless-java-container/issues/243
	- https://aws.amazon.com/blogs/compute/support-for-multi-value-parameters-in-amazon-api-gateway/

2. a SAM local is not updated its AWSProxy template file:
	- https:

[2019-04-29 16:13] #31 closed

[2019-04-29 16:24] graemerocher commented on #26
@aarthisankaran sorry for the late reply. I have been away. Micronaut uses Amazon's standard serverless Java container support. The model of the payload is defined here https://github.com/awslabs/aws-serverless-java-container/tree/master/aws-serverless-java-container-core/src/main/java/com/amazonaws/serverless/proxy/model

For the request https://github.com/awslabs/aws-serverless-java-container/bl

[2019-04-29 16:26] lkonya commented on #32
It looks like a SAM local issue is related:
	- https://github.com/awslabs/aws-sam-cli/issues/771

[2019-04-29 16:30] graemerocher commented on #30
The reason for this when deployed in this manner. It is AWS deserializes the POJO not Micronaut. Do you have any custom Jackson logic somewhere?

[2019-04-29 16:33] jameskleeh commented on #32
@lkonya I really have no idea, however how would it know the path is encoded or not? Shouldn't it be consistent either way?

[2019-04-29 16:47] lkonya commented on #32
Yeah, the more I think about it, the more I realize, it isn't MN responsibility. Thank you @jameskleeh!

[2019-04-29 16:47] #32 closed

[2019-05-01 09:36] scarlier commented on #30
Ok. Found out that the proper way is to use `io.micronaut.function.aws.MicronautRequestStreamHandler::handleRequest`, when there is need for custom deserialisation.

[2019-05-01 09:36] #30 closed

[2019-05-03 00:05] avanishranjan opened #33 "AWS API Gateway Support - Example application Link is not working"
The link to Example application https://github.com/micronaut-projects/micronaut-aws/tree/master/examples/api-proxy-example responds with 404.

[2019-05-03 09:14] musketyr opened #36 "Test friendly StreamLambdaHandler"
The suggested `StreamLambdaHandler` is not very friendly to testing. `@MicronautTest` doesn't seem to be compatible with testing the handler. I'm using [Gru for AWS API Gateway Proxy](https://agorapulse.github.io/gru/#_aws_api_gateway) for testing to ensure the API Gateway integration works.

I had to come up with the following implementation to be able to reset the application context stored stat

[2019-05-03 12:15] snorith commented on #13
I had this error too. Based on the latest guide, you don't use MicronautRequestHandler as the Template specified handler anymore, you use

`Handler: example.RoundHandler::handleRequest`

Where `example.RoundHandler` is the package and class name and `handleRequest` is the method that should be called.

When I made this update I was able to get _sam_ to test the function locally.

See: [https://mic

[2019-05-16 21:59] jschwartz73 opened #38 "Server side rendering not working when using function-aws-api-proxy"
Given the below controller action:
[code]

When executing the action through AWS API Gateway (via the micronaut function-aws-api-proxy) the result will be:
[code]

The correct result should be rendered "home" template using the configured render engine.

[2019-05-20 11:49] graemerocher commented on #38
Thanks for the PR

[2019-05-20 11:49] #38 closed

[2019-05-22 18:12] alexwilbur opened #41 "(AWS Lambda) Exception Handler invocation is non-deterministic"
### Task List

- [X] Steps to reproduce provided
- [X] Stacktrace (if present) provided
- [X] Example that reproduces the problem uploaded to Github
- [X] Full description of the issue provided (see below)

### Steps to Reproduce

1. Implement a class derived from RuntimeException and a corresponding exception handler for the specific subclass.
2. Also implement an exception handler for RuntimeExc

[2019-05-22 18:20] graemerocher commented on #41
I believe this line https://github.com/micronaut-projects/micronaut-aws/blob/master/function-aws-api-proxy/src/main/java/io/micronaut/function/aws/proxy/MicronautLambdaContainerHandler.java#L260

Should use `byTypeArgumentsClosest` like

https://github.com/micronaut-projects/micronaut-core/commit/767381412b409dcfc5ddd36322169ae551ced16a#diff-0f91f8567f30707e6e437d24f3109b89R323

[2019-05-28 22:56] cherrydev opened #42 "MicronautRequestStreamHandler function name not retrieved from Lambda Context"
I feel like I must be misunderstanding something. `MicronautRequestStreamHandler` is a Lambda-specific stream handler that takes a lambda `Context` object.  The `Context` object contains a `functionName` property which specifies the declared name of the lambda function. Confusingly, this value is never referenced when the RequestStreamHandler is attempting to map its current execution context to a

[2019-05-29 03:48] mzouitni opened #43 "UnsatisfiedRouteException"
Thanks for reporting an issue for Micronaut, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (http://stackoverflow.com/tags/micronaut) or Gitter (https://gitter

[2019-05-30 17:08] mzouitni commented on #43
Any help with this issue?

[2019-06-01 20:27] #43 closed

[2019-06-01 20:28] mzouitni commented on #43
Issue was resolved. The problem turned out to be content type passed in didn't match what the resource was expecting.

[2019-06-04 18:18] joehart1981 opened #44 "MicronautAwsProxyRequest.AwsParameters.getAll() does not return values properly"
The MicronautAwsProxyRequest.AwsParameters.getAll() method does not return parameter values but instead returns the parameter name.  I believe the following:

`return strings.stream().map(v -> decodeValue(name,name.toString())).collect(Collectors.toList());`

Should be:

`return strings.stream().map(v -> decodeValue(name,v.toString())).collect(Collectors.toList());`

[2019-06-04 23:19] cherrydev opened #45 "BuildInfoSource incompatible with functions/API Gateway"
### Steps to Reproduce

1. Configure a RequestStreamHandler Lambda with `MicronautLambdaContainerHandler.getAwsProxyHandler()` in a serverless or CloudFormation environment. An example is [here](https://github.com/micronaut-projects/micronaut-aws/tree/master/examples/api-gateway-example).
2. include `io.micronaut:micronaut-management`
3. add to `application.yml`:
[code]
4. Navigate to the `/info`

[2019-06-18 18:57] cero-t opened #49 "Docker build for custom GraalVM native runtimes fails."
When I tried `Custom GraalVM Native Runtimes` on this page, I got a warning, and the generated binary didn't contain Java Runtime.
https://micronaut-projects.github.io/micronaut-aws/latest/guide/#customRuntimes

The warning message is as follows.

[code]

When I added `--initialize-at-build-time=com.amazonaws.serverless.proxy.model` to `native-image.properties` and built again, native-image comman

[2019-06-18 19:02] cero-t commented on #49
(Just FYI)
When I use this bootstrap class instead of MicronautLambdaRuntime, no error occurs and the generated native binary works well on AWS Lambda custom runtime.
https://github.com/kencharos/try-graal-lambda/blob/master/src/main/java/my/graal/SampleCommand.java

[2019-06-19 20:17] cero-t commented on #49
I found solutions.

1. add `--initialize-at-build-time=com.amazonaws.serverless.proxy.model` to `src/main/resources/META-INF/.../native-image.properties`, which resolves the warning while native-image command
2. add the definition of `AwsProxyRequest` to `src/main/graal/reflect.json` as follows, which resolves the problem that response body was null

before
[code]

after
[code]

I'll write patches

[2019-06-21 01:36] rnielsen opened #50 "Incoming Cookies not available in AWS API Gateway"
Incoming Cookies are not available via `httpRequest.getCookies()` when Micronaut is run through API Gateway integration.  Outgoing cookies are added to the response correctly and the cookies are available via `httpRequest.getHeaders().get("Cookie")`

The specific issue affecting me is that Micronaut JWT authentication via Cookies is not allowing access to secured pages after login.

Example projec

[2019-06-22 04:11] mzouitni commented on #41
Any idea when this bug will be fixed? Any workaround for the time being?

[2019-06-28 08:11] codependent opened #51 "java.lang.IndexOutOfBoundsException: Too many elements in the Publisher when returning Flux<X>"
Micronaut version 1.1.3

Given this simple code of a Lambda with proxy integration:

[code]

When calling `GET /users` from the API Gateway I get and exception with the message `Too many elements in the Publisher`, even though the Lambda only returns a Flux with two elements.

This is the full stacktrace:

[code]

The behaviour is as expected when starting the project as a normal Micronaut applica

[2019-06-28 08:50] graemerocher commented on #51
ok, will have a look, somewhere it is doing toSingle() I imagine. btw I personally would not bother with reactive with serverless since lambdas are single threaded and the overhead is unnecessary

[2019-07-01 22:16] alexwilbur commented on #41
We haven't found a workaround for this :(

[2019-07-02 11:01] mzouitni commented on #41
I managed to make it work by adding @Primary on the custom exception handler

[2019-07-02 12:54] alexwilbur commented on #41
Nice! I will try that :) Thanks!

[2019-07-02 14:44] #41 closed

[2019-07-15 07:18] ShashankMishra opened #52 "MicronautAwsProxyExceptionHandler giving 500 in case of JSON Mapping exception"
We are deserialising request json dates with our custom deserialiser.
In case of invalid date format we are throwing our custom exception which ultimately gets wrapped in JSONMappingException and later on to InvalidRequestEventException.

Now since I want to send 400 BAD REQUEST in such cases but **MicronautAwsProxyExceptionHandler** is handling these exception by default and send

in place of

We

[2019-07-16 12:02] tobiasbayer opened #53 "Multipart file uploads do not work with AWS API Gateway"
I have a route for a multipart file upload which works fine when running the service as a standalone application:

[code]

When testing the route with `curl -v -X POST http://localhost:8080/attachments -H 'Content-type: multipart/form-data' -F file=@/path/image.jpg` everything works fine.

When I deploy the service as a Lambda with API Gateway access, the file does not seem to make it to the contr

[2019-07-22 13:53] ShashankMishra commented on #52
Any update please?

[2019-07-22 14:12] graemerocher commented on #52
The implementation is based on the existing AWS API proxy implementations which do that, but you are welcome to send a PR to make this behaviour customizable

[2019-08-02 04:00] musketyr commented on #53
API Gateway is not very friendly about file uploads or binary formats in general. You may try uploading directly to S3 instead. You can use STS for this.

There is a service for STS in out Micronaut Libraries:
https://github.com/agorapulse/micronaut-libraries/blob/master/micronaut-aws-sdk/src/main/groovy/com/agorapulse/micronaut/aws/sts/SecurityTokenService.java

Here's an article about direct S3

[2019-08-02 04:04] musketyr opened #60 "application/json should be a default content type"
API Gateway assumes that the endpoints accept/produce JSON objects. This should be the default for MIcronaut as well. Currently, for example, if you are missing the `Content-Type` header then `@Body` objects are not populated correctly.

[2019-08-02 07:32] musketyr opened #61 "need a reliable environment when running on AWS"
Currently, there is only one active environment present when the function is deployed to AWS Lambda which is `function`. The problem is that the same environment is for example present in tests. I know that start up time is crucial for lambda functions but there should be a way how to for example enable environment `aws` based on environment variables.

[2019-08-07 08:29] tobiasbayer commented on #53
Thanks, @musketyr

[2019-08-07 08:29] #53 closed

[2019-08-11 17:10] alexwilbur commented on #41
@graemerocher  any possibility of a release of 1.2.0 ?

[2019-08-12 07:17] graemerocher commented on #41
Will have a look soon. Thanks

[2019-08-19 09:52] haspok opened #64 "AWSLambdaAsyncClientFactory throws DependencyInjectionException"
I tried to upgrade our app to Micronaut 1.2 (from 1.0.4), but our AWS lambda functions stopped working. Here is the Exception I get:

[code]

I did a quick search and found #45 which looks similar, but we don't have the `micronaut-management` module configured for our AWS functions. Still, it gave me a hint that this might be the problem:

[code]

Maybe the `@Refreshable` annotation is causing thi

[2019-08-19 10:00] haspok commented on #64
Apologies, I just noticed that the `AWSLambdaAsyncClientFactory` class is in `micronaut-core`...

[2019-08-19 11:48] romeoro opened #65 "Add SQS support"
Adding SQS support: queue configuration, annotations for producers and consumers, ...

[2019-08-19 12:17] adanilev commented on #3
in case anyone else gets tripped up on this, in `bootstrap.yml`, you also need to make sure you set:
[code]

...instead of `micronaut.function.name`

[2019-08-20 07:43] haspok commented on #65
Try this: https://github.com/agorapulse/micronaut-libraries

[2019-08-21 09:34] romeoro commented on #65
Tried it out, not convinced, i love having a micronaut based solution with producers and consumers.
Agorapulse lib is lacking an automatic poll handling, "high level interface" can't handle fifo out of the box (or i oversaw how to configure it correctly), low level api does not provide huge benefits to using aws lib directly.

[2019-08-22 14:24] haspok commented on #64
PS. I was wondering why nobody else is complaining about this - then I realized that our use case is probably a bit special, as we are calling a lambda function from within another lambda function...
So maybe this specific use case is no longer supported by Micronaut?

[2019-08-30 07:40] haspok commented on #64
I was trying to work around this limitation with the following:

[code]

However the constructor of this bean is never called (despite the `@Context` annotation), and the error message is the same.
What am I missing?

[2019-09-02 16:56] kastork opened #67 "MicronautLambdaContainerHandler does not proxy static routes"
If you set up your fatJar with some static resources and configure the app like so....

[code]

Requests like `GET /statics/icon/favicon.ico` are not proxied.  Therefore gateway just returns a 404.

This makes it hard to deliver something like an SPA out of your jar.

[2019-09-03 12:23] razrcallahan commented on #67
I am encountering the same problem when trying to publish the swagger contract as a static resource on a project with api gateway proxy.

[2019-09-03 12:56] graemerocher commented on #67
Currently static resources are not supported, but seems like they should be.

[2019-09-03 15:21] kastork commented on #50
Problem exists in 1.2.0 also

[2019-09-03 17:18] kastork commented on #50
@rnielsen  A workaround...
(Kotlin)

[code]

[2019-09-05 03:05] rnielsen commented on #50
Thanks @kastork. I worked around it with a HttpServerFilter to populate request.getCookies() from the header.

[2019-09-17 12:04] cr4zyf1st opened #69 "AWS Custom domain support custom runtime"
Created an application using the aws-api-gateway-graal feature following the link
https://micronaut-projects.github.io/micronaut-aws/latest/guide/#customRuntimes
I used the following fix to build
https://github.com/micronaut-projects/micronaut-aws/issues/49

Micronaut version 1.2.1

After this i deploy to an aws lambda with an api gateway, call the ping endpoint and response is 200. Calling the sa

[2019-09-18 12:41] peterschunk1 commented on #60
Agree this is very confusing if you consider that other frameworks make this assumption and don't fail with a confusing error message that no body was provided.

[2019-09-22 18:18] otbe commented on #49
If I use you fix with the most current version if micronaut / micronaut cli the native image generation works, but (at least) while using SAM locally I get the following exception:
[code]

Any ideas? Thank you!

[2019-09-23 06:49] graemerocher commented on #49
@otbe that looks like a version conflict with the version of AWS serverless container that Micronaut uses?

[2019-09-23 14:56] otbe commented on #49
@graemerocher Im not quite sure and I dont know how to verify that properly 🤔

[2019-09-30 07:26] graemerocher commented on #49
Fixed by https://github.com/micronaut-projects/micronaut-aws/commit/0e9439dfca5e018130d716e43d20cbc640322889

[2019-09-30 07:26] #49 closed

[2019-09-30 09:20] graemerocher commented on #69
The Graal support was fixed in https://github.com/micronaut-projects/micronaut-aws/commit/0e9439dfca5e018130d716e43d20cbc640322889

I cannot reproduce this exception with master

[2019-09-30 09:21] graemerocher commented on #64
Maybe if you provide an example that reproduces the issue we can take a look. Certainly nesting functions is not something we had designed for.

[2019-09-30 09:26] #60 closed

[2019-09-30 09:36] #44 closed

[2019-09-30 10:00] #50 closed

[2019-09-30 10:38] graemerocher commented on #69
Now I can reproduce this suddenly

[2019-09-30 10:54] #69 closed

[2019-09-30 11:04] #61 closed

[2019-09-30 11:20] musketyr commented on #61
Thank you

[2019-10-01 11:21] otbe commented on #49
Hi @graemerocher

sorry for posting this in an closed issue but I think theres still a problem.
I upgraded `micronaut-function-aws-custom-runtime` and `micronaut-function-aws-api-proxy` to 1.3.1 which should inc lude all the fixed related to Graal, but no I get this error while using `sam local`

[code]
(there is nothing after "Response received")
<img width="516" alt="Screenshot 2019-10-01 at 13

[2019-10-01 13:10] graemerocher commented on #49
@otbe could you provide an example that reproduces the issue?

[2019-10-02 06:38] otbe commented on #49
Hi @graemerocher

first things first, there is an error while building the native image that says (I totally overlooked this one in the first place):
[code]

In order to make sure that it isnt related to my project I created a new one with the following steps:

1. `$ mn create-app com.bar --features aws-api-gateway-graal -l kotlin -b maven` (latest mn verison)
2. update the micronat-aws-* dependen

[2019-10-05 07:31] marceloverdijk commented on #33
Currently the `AWS API Gateway Support` section in the latest docs refer to the example https://github.com/micronaut-projects/micronaut-aws/tree/master/examples/api-gateway-example which is available.
I think this issue can be closed.

[2019-10-05 07:33] marceloverdijk opened #77 "AWS Lambda Custom Runtimes example missing in repo"
The latest docs regarding using `Custom GraalVM Native Runtimes` mention the example application: https://github.com/micronaut-projects/micronaut-aws/tree/master/examples/api-proxy-graal-custom-runtime-example

But this example is actually not in the repo.

[2019-10-06 08:52] graemerocher commented on #77
An example can be found here in the meantime https://github.com/awslabs/aws-serverless-java-container/tree/micronaut/samples/micronaut/pet-store

[2019-10-06 08:52] #33 closed

[2019-10-07 06:40] otbe commented on #49
Hi @graemerocher
1.3.2 fixes the build issue but theres still a runtime issue for me:
[code]

I pushed my little test project, so you can have a look: https://github.com/otbe/micronaut-aws-graal-example but like already mentioned its just the CLI generated project + new dependency versions https://github.com/otbe/micronaut-aws-graal-example/blob/master/pom.xml#L46

[2019-10-07 06:54] graemerocher commented on #49
@otbe Thanks will take a look

[2019-10-07 07:30] graemerocher commented on #49
The underlying error appears to be

[code]

Which is very odd since the example at https://github.com/awslabs/aws-serverless-java-container/tree/micronaut/samples/micronaut/pet-store works

[2019-10-07 07:40] graemerocher commented on #49
Exception occurs without Graal to but provides more detail:

[code]

[2019-10-07 07:43] graemerocher commented on #49
Issue is in the dependencies. You have to use

[code]

[2019-10-07 09:38] otbe commented on #49
That fixed it ! Thank you very much 👍 Just for clarification, my pom looks like this:
[code]

I guess this needs to be fixed in the CLI project template as well? Maybe I can provide a PR somewhere?

[2019-10-07 09:49] graemerocher commented on #49
The fix is actually to update the Micronaut BOM which has already been updated. It will be fixed in Micronaut 1.2.4 when that is released (probably this week)

[2019-10-07 16:24] ybulbuk opened #80 "AWS Lambda Custom Runtimes problem"
I create an app using CLI command:
`mn create-app my-app --features aws-api-gateway-graal --build maven`

After I build a jar file, I'm trying to run it using generated `deploy.sh` file.

Trying to call a Lambda i'm constantly got:

[2019-10-14 06:50] #18 closed

[2019-10-14 07:03] #67 closed

[2019-10-14 12:36] kastork commented on #64
Is using `@Context` and `@Singleton` on the same class supported?  It is my understanding that the former implies the latter.

[2019-10-14 12:49] graemerocher commented on #64
The former implies the latter yes

[2019-10-15 12:28] musketyr commented on #80
I had the exactly same problem which is gone after upgrading to Micronaut 1.2.4 stack

[2019-10-15 12:31] musketyr commented on #65
hi @romeoro I'm a creator of https://github.com/agorapulse/micronaut-libraries. if you submit the issues regarding your missing use cases (ideally along with the corresponding code snippets in the AWS lib) I can take a look if there is a way to support such cases.

[2019-10-15 12:33] musketyr opened #87 "deploy script only works one"
the `deploy.sh` script provided by `api-proxy-gateway-graal` only works once as uses `create-function` it would be great if it can also update the function if the function already exists

[2019-10-15 12:34] musketyr opened #88 "helper scripts lacks gradle build command"
the scripts from `api-gateway-proxy-graal` feature lack the initial line to build the application. it would make more sense to me if each of the script starts with `./gradlew build`.

[2019-10-15 12:39] #80 closed

[2019-10-15 13:12] musketyr commented on #88
nvm, I didn't realise the build process happens inside Docker

[2019-10-15 13:12] #88 closed

[2019-10-20 18:23] pulsarix opened #105 "HttpResponse not working properly inside lambda environment using graalvm"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce
Follow steps from https://bitbucket.org/traycho/micronaut-examples/src/master/
1. Build application
2. Run it in sam local environment
3. Execute curl -G http://localhost

[2019-10-21 04:16] limcheekin opened #93 "Is micronaut-aws api-gateway-example support graphQL?"
Hi there,

I created a GraphQL endpoint based on the following article:
http://lifeinide.com/post/2019-04-15-micronaut-graphql-with-transaction-and-security-support/
It works properly locally.

By referred to the api-gateway-example, I managed to deploy the Micronaut GraphQL API to AWS Lambda and API Gateway. I tested the /ping API, it is working perfectly.

However, when I post a graphql query to

[2019-10-22 10:18] pulsarix commented on #52
@ShashankMishra  Did you try to add micronaut-hibernate-validator ,it will return you 400 instead of 500.

[2019-10-22 14:37] musketyr opened #96 "nulls and empty optional returned from method not translated to 404"
If a controller method returns `null` or `Optional.empty()` then Micronaut Netty HTTP server returns `404`. If the same happens using AWS API Proxy integration then `200` with body `null` is returned. Here's an extended test for it:

[code]

[2019-10-23 06:42] #96 closed

[2019-10-23 07:43] SchulteMarkus opened #101 "bootstrap-file example in lambda/customRuntimes.adoc wrong?"
Hi,

this issue is about https://github.com/micronaut-projects/micronaut-aws/blob/master/src/main/docs/guide/lambda/customRuntimes.adoc

There it is as an example for the ```bootstrap```-file

[code]

This is wrong, isn't it? In AWS Lambda custom runtime, there is no *java* available.
Working example at https://github.com/awslabs/aws-serverless-java-container/blob/micronaut/samples/micronaut/pet-s

[2019-10-23 08:31] graemerocher commented on #101
I don't think it is wrong. You can have a custom runtime that runs Java or a custom JVM like J9. Another thing is you use GraalVM native image but that is separate

[2019-10-23 08:48] SchulteMarkus commented on #101
Ok, thanks for feedback. I seem to be missing some AWS Lambda custom runtime knowledge. Could you please be so kind adding some information here?
The only way I can imagine for https://github.com/micronaut-projects/micronaut-aws/blame/master/src/main/docs/guide/lambda/customRuntimes.adoc#L17 to work is, having another custom image layer, providing "java" as executable (which would be kind of missi

[2019-10-23 08:48] #101 closed

[2019-10-23 09:35] graemerocher commented on #101
I'm not sure if it is within the scope of our documentation to add this it seems like something that belongs in the AWS docs. There is info on how to do this in stack overflow https://stackoverflow.com/questions/54707647/how-to-execute-aws-lambda-with-open-jdk-11-as-custom-runtime

[2019-10-23 10:00] SchulteMarkus commented on #101
Well, at least I was confused about the ```java``` in boostrap -> https://github.com/micronaut-projects/micronaut-aws/blob/master/src/main/docs/guide/lambda/customRuntimes.adoc
In my opinion, it should be explained, that this ```java``` has to be provided by the Micronaut user, for example via using https://github.com/andthearchitect/aws-lambda-java-runtime

[2019-10-23 10:45] SchulteMarkus opened #102 "MicronautLambdaRuntime to support Micronaut function, too"
In my project, I am using Micronaut for processing SQS events. I have created an example project at https://github.com/SchulteMarkus/micronaut-creating-first-graal-app/tree/master/complete-sqs
The project "complete-sqs" works fine, I can deploy ```build/libs/complete-sqs-0.1-all.jar``` to AWS Lambda using Java8 runtime and it works as intended.

I am interested in using this project not as a .jar

[2019-10-23 11:01] graemerocher commented on #102
Currently the custom runtime requires the API proxy approach

[2019-10-23 11:11] SchulteMarkus commented on #102
Yes, this is mentioned on https://micronaut-projects.github.io/micronaut-aws/latest/guide/#customRuntimes
But maybe at some day in the future, MicronautLambdaRuntime supports Micronaut function, too :-)

[2019-10-25 19:32] afatykhov opened #110 "Micranaut is unable to route a URI path if it has an encoded '+' character as '%2B' in the URI path when running as AWS API gateway lambda or ECS service"
Micranaut is unable to route a URI path if it has an encoded '+' character as '%2B' when running as AWS API gateway lambda or ECS service, I suspect it is a common issue of the DefaultRoute class in the code.

In the case with the AWS API Gateway lambda , it will respond  with the 404 as well:

[code]

### Steps to Reproduce

Create a REST service:

[code]

when request URL is https://address/a.fa

[2019-10-26 14:46] JamieCressey opened #106 "GraalVM build fails"
Micronaut version: 1.2.5

### Reproduction Steps
`mn create-app my-app --features aws-api-gateway-graal --build maven`
`cd my-app`
`mvn clean package`
`./docker-build.sh`

### Results
[code]

### Fix
Updating the pom to build using JDK 8 (not 11) fixes the build.

[2019-10-28 07:42] ilopmar commented on #106
GraalVM doesn't support JDK 11 yet so you need to use JDK 8 if you want to use Graal.

[2019-10-29 20:38] Aleksandr-Filichkin opened #108 "mn aws-api-gateway-graal sample doesn't work"
Hi,

I tried the sample for graalvm +aws lambda from https://micronaut-projects.github.io/micronaut-aws/latest/guide/#customRuntimes but it doesn't work

Micronaut Version: 1.2.5

I was able to build native image and deploy the Lambda to AWS.
 But test request  doesn't work
(aws lambda invoke --function-name my-app2 --payload '{"resource": "/{proxy+}", "path": "/ping", "httpMethod": "GET"}' build/

[2019-10-30 07:19] graemerocher commented on #108
Please replace `/{proxy+}` with the actual path you are trying to invoke

[2019-10-30 08:44] Aleksandr-Filichkin commented on #108
@graemerocher , but I'm trying to invoke "ping" path.

For request should I send for this Lambda code?
`@Controller("/ping")
public class PingController {

	private Logger log = LoggerFactory.getLogger(PingController.class);

    @Get("/")
    public String ping() {
    	log.trace("Received a ping.");
    	return "{\"pong\":true}";
    }
}`

[2019-10-30 10:23] graemerocher commented on #108
Seems a documentation error. Try:

[code]

[2019-10-30 10:35] Aleksandr-Filichkin commented on #108
Now it works. Thank you!

[2019-10-30 17:34] afatykhov opened #111 "R-open: Micranaut is unable to route a URI path if it has an encoded '+' character as '%2B' in the URI path when running as AWS API gateway lambda or ECS service"
Original issue:
  https://github.com/micronaut-projects/micronaut-aws/issues/110

The usage of the {+someid} does not really work because it replaces '+' with the space,
in the case of the AWS API gateway all '%2B'. converted to the '+' after the gateway. SpringBoot lambda/http deals with this just fine by re-encoding the URI before matching the route. Micronaut will fail because it does not antic

[2019-10-30 17:49] afatykhov commented on #110
if I hack the class DefaultRouter.java
as:
private <T, R> Stream<UriRouteMatch<T, R>> find(String httpMethodName, CharSequence uri) {
List routes = routesByMethod.getOrDefault(httpMethodName, Collections.emptyList());
// also, need to re-encode only the path section of the URI
final String path = uri.toString().replaceAll("\+", "%2B");
return routes.stream()
.map((route -> route.match(path)))
.fil

[2019-10-30 17:51] afatykhov commented on #110
Micronaut can be used with the API Gateway in two cases:
  1. AWS Lambda proxy
  2. ESC EC2 service
we need a fix for both (basically the same code is responsible for the route match in both cases).

[2019-11-06 16:59] #111 closed

[2019-11-07 08:34] mynecker commented on #64
I am observing the same issue and it can get reproduced like this. Maybe I missed some configuration / dependency ...

1. create a default Micronaut function
`mn create-function org.myvirtuallab.demo.lambda --lang=kotlin --profile=function-aws`

2. add a FunctionClient

[code]

Register this function in application.yml`

[code]

add dependencies to `build.gradle`
[code]
3: add some lines of code a

[2019-11-07 09:05] graemerocher commented on #64
Thanks for the steps to reproduce. Will take a look

[2019-11-07 09:20] mynecker commented on #64
This is the sample to repoduce

[lambda.zip](https://github.com/micronaut-projects/micronaut-aws/files/3818767/lambda.zip)

[2019-11-12 15:42] afatykhov commented on #110
Hi James,
  Do we have a time line for this issue to be fixed ?
Al

[2019-11-12 16:09] graemerocher commented on #110
@afatykhov would you like to send a PR with a fix?

[2019-11-12 16:14] afatykhov commented on #110
Hi Graeme,
  I can make a PR, although the issue is in the micronaut-core project because it is where DefaulRouter class resign, I have a fix for it.
I will post a PR.
Al

[2019-11-12 16:15] graemerocher commented on #110
I thought you mentioned that `SpringBoot lambda/http deals with this just fine by re-encoding the URI` in which case it would be in the AWS project.

[2019-11-12 16:32] afatykhov commented on #110
There are actually 2 issues, bot of the related to AWS and encoding of the '+'. in the URI.
   1. Micronaut service running as a lambda behind AWS API gateway.
       issue can be solved in the io.micronaut.function.aws.proxy.MicronautRequestReader as:
    protected String fixPath(String path) {
        path = path.replaceAll("\\+", "%2B");
        return path;
    }

    @Override
    public Micr

[2019-11-12 16:38] afatykhov commented on #110
or fix can be done inside the route.match(path) call.

[2019-11-12 16:51] afatykhov commented on #110
Meanwhile this is a real showstopper to use Micronaut service in AWS.

[2019-11-12 17:18] afatykhov commented on #110
in the AWS API Gateway case the request path  %2B will become + and Micronaut will assume it is ‘ ’ space and will not match the route. Double encoding helps but it is not a solution.

[2019-11-12 19:58] afatykhov commented on #110
Example of the ECS fargate integration, if it would help:
  TestServiceAPI:
    Type: AWS::Serverless::Api
    Properties:
      StageName: !Sub ${EnvName}
      DefinitionBody:
        swagger: "2.0"
        info:
          title: !Ref AWS::StackName
        schemes:
          - "https"
        paths:
          /{proxy+}:
            x-amazon-apigateway-any-method:
              parameters:

[2019-11-14 14:18] faxdam1 commented on #51
I would like to have a fix for this bug, because I want to use back pressure feature. Thanks for your help.

- Controller

` @Get(value="listar", produces = MediaType.APPLICATION_JSON)
    public Flux<ClienteDto> listarClientes() {
        return clienteService.consultarClientes()
                .map(it-> mapper.map(it,ClienteDto.class));
    }`

- Domain

`public Flux<Cliente> consultarClientes(

[2019-11-14 14:22] graemerocher commented on #51
PRs welcome

[2019-11-14 15:35] ashperrett opened #125 "Response status always 200 ok in native image"
Micronaut version 1.2.6
graalvm 19.2.1

Steps to reproduce
Create an application with create-app my-app --features aws-api-gateway-graal
Change the ping endpoint to respond with a status other than 200 ok
e.g.
return HttpResponse.status(HttpStatus.FORBIDDEN).body("{\"pong\":true,\"graal\": true}");

result : 200 ok status will be returned regardless. The correct 403 status is returned when ran not

[2019-11-18 06:31] ShashankMishra commented on #52
Yes but that works when your json payload translated to Java Object, In case of having different Enum values, error comes even before this translation.

[2019-11-18 10:08] sdelamo opened #128 "io.micronaut.function.aws.MicronautRequestStreamHandler has no public zero-argument constructor"
# Steps to reproduce

1. $ mn create-function test --inplace
1. $ ./gradlew shadowJar
3. Create a lambda function in AWS console with Java runtime.
4. Upload the zip file as handler set `io.micronaut.function.aws.MicronautRequestStreamHandler` and try to invoke the lambda with a test event

<img width="1012" alt="Screenshot 2019-11-18 at 11 04 59" src="https://user-images.githubusercontent.com/864

[2019-11-18 14:41] #128 closed

[2019-11-20 03:02] rnielsen opened #131 "NullPointerException on getCookies() when no Cookie header supplied in AWS API Gateway"
The fix for issue #50 throws a NullPointerException when the "Cookie" header is not supplied and  `httpRequest.getCookies()` is called.

Example project at https://github.com/rnielsen/micronaut-aws-apiproxy-test

[code]
In the CloudWatch logs we get:
[code]

[2019-11-20 07:18] #131 closed

[2019-11-21 09:06] uboznikov opened #136 "No CORS headers returned (again) if exception is raised with API Gateway Proxy + Lambda, GraalVM native image"
Micronaut version: 1.2.6

Setup:
I have an API Gateway Proxy + Lambda app created with `--features aws-api-gateway-graal`, but I'm temporarily using the Java8 runtime due to GraalVM's issue with the MySQL driver.

The issue I'm having is that there are no CORS headers returned when exceptions are raised, for example, HTTP input params validation errors.

Basically the same as with this:
https://gi

[2019-11-28 08:13] pushpender673 commented on #93
I am facing the same issue. I think problem is with content type code written in GraphQLController
As MicronautLambdaHandler checks media type corresponding to string not with the wildcard */* as post request specifies for it.

[2019-11-28 08:39] limcheekin commented on #93
Great! Appreciate if you could share more details on how do you solve the issue?

Thanks in advanced.

[2019-11-28 17:54] pushpender673 commented on #93
I tried with some couple of solutions but due to AWS lambda facing some issues.
Will surely let you know if i got success.

[2019-11-29 03:28] limcheekin commented on #93
Great! Thanks.

[2019-11-29 07:16] pushpender673 commented on #93
You can override the GraphQLController and create your own routing.
Please refer the code snippet.

[code]

Your request URI will look like [www.xyz.com/v1/graphql
](#)

Note : This will only work for application/json content type.

[2019-11-29 08:23] limcheekin commented on #93
Great! Thanks for sharing the details of the workaround.

I tried it, it works!

[2019-11-29 08:23] #93 closed

[2019-12-04 07:52] kairsas commented on #128
I understand that this fix is included in micronaut-function-aws 1.3.6.
But I see that 1.2.7 micronaut-bom artifact still uses dependency of micronaut-function-aws 1.3.3.
Could this be updated also?

[2019-12-04 09:25] graemerocher commented on #128
Yes makes sense. Feel free to send a PR https://github.com/micronaut-projects/micronaut-core/blob/1.2.x/gradle.properties#L40

[2019-12-25 13:24] pushpender673 opened #155 "MicronautLambdaContainerHandler does not validates contentType ALL"
Steps To reproduce
1. Create a Controller with POST request
```  @Post(value = "/test", produces = APPLICATION_JSON, consumes = ALL) ```
2. Deploy application to AWS lambda
3. Try to hit the URL with content type application/json or anything

It does not matches to anything and throws 415 unsupported Media type.

ALL should match to anything.

[2020-01-03 05:47] ShashankMishra commented on #155
Facing same issue.
Created a PR -https://github.com/micronaut-projects/micronaut-aws/pull/158
Keep an eye.

[2020-01-07 08:06] graemerocher commented on #155
Thanks for the PR

[2020-01-07 08:06] #155 closed

[2020-01-14 12:52] huksley opened #161 "Building GraalVM example aws-api-gateway-graal from documentation fails"
MacOS X version 10.14.6
Local java (probably not used as I am building inside docker) installed by sdkman version: openjdk 11.0.5 2019-10-15
Micronaut (installed by sdkman): 1.2.8

## What happens?
During build exception reported: `Error: Error encountered while parsing io.micronaut.caffeine.cache.LocalCacheFactory.newBoundedLocalCache(io.micronaut.caffeine.cache.Caffeine, io.micronaut.caffeine.ca

[2020-01-16 10:29] #13 closed

[2020-01-16 16:27] alvarosanchez commented on #45
@cherrydev we have revisited your feedback and have implemented it. The change in core will be part of the next Micronaut 1.2.x version.

[2020-01-16 16:27] #45 closed

[2020-01-20 23:18] #106 closed

[2020-01-20 23:27] #108 closed

[2020-01-20 23:34] alvarosanchez commented on #161
See https://github.com/micronaut-projects/micronaut-aws/issues/106#issuecomment-546827880

[2020-01-20 23:34] #161 closed

[2020-01-21 07:44] ilopmar commented on #106
@JamieCressey starting with 19.3.0 GraalVM now supports JDK 11.

[2020-01-21 18:26] alvarosanchez commented on #110
@afatykhov we have been discussing internally about this issue. The fact that AWS API Gateway encodes the `+` character is definitely not an issue in Micronaut.

The problem when you send a request to `https://address/a.fatykhov%2B1@company.com` through an AWS API Gateway is that what Micronaut really gets is `https://address/a.fatykhov+1@company.com`, and that doesn't match the template `/{someId

[2020-01-21 18:26] #110 closed

[2020-01-21 18:48] #105 closed

[2020-01-21 18:49] #125 closed

[2020-01-22 07:34] #42 closed

[2020-01-22 10:00] alvarosanchez commented on #136
@uboznikov could you please upload a sample application that reproduces the issue?

[2020-01-22 11:48] alvarosanchez commented on #51
I have been able to reproduce the issue and am working on a fix

[2020-01-22 12:31] #51 closed

[2020-01-22 17:05] #77 closed

[2020-01-23 00:40] alvarosanchez commented on #3
Documentation is correct now:

https://docs.micronaut.io/snapshot/guide/index.html#distributedConfigurationAwsParameterStore

[2020-01-23 00:40] #3 closed

[2020-01-23 00:47] alvarosanchez commented on #52
@graemerocher can this not be solved using `@Error` handlers in the controller?

[2020-01-23 07:53] #36 closed

[2020-01-23 07:59] graemerocher commented on #52
Seems like it should be handled that way but it is not, which is the bug. In the normal HTTP server we have `JsonExceptionHandler` that does this

[2020-01-23 10:49] #52 closed

[2020-01-23 11:54] alvarosanchez commented on #136
@uboznikov since #125 is now fixed, you can use a custom exception handler as a workaround for this issue.

[2020-01-24 13:37] ShashankMishra commented on #155
@graemerocher
There was a mismatch of type check hence condition was always returning true, Kindly merge the new PR raised for the fix -https://github.com/micronaut-projects/micronaut-aws/pull/172

[2020-01-24 14:13] musketyr opened #173 "Support AWS Java SDK V2"
According to AWS Lambda team, it is recommended to use version 2 of AWS SDK instead of V1 which is currently use in `aws-common`

see https://github.com/aws/aws-sdk-java-v2

It would be great if there is `aws-common-2` which will mirror the AWS SDK V2 API.

There is no `ClientConfiguration` in the V2 but it allows to choose HTTP client on your own. One of the options is also Netty HTTP Client whic

[2020-01-29 07:51] #64 closed

[2020-01-29 08:50] haspok commented on #64
Awesome, thank you!

[2020-01-29 13:52] graemerocher commented on #173
This will require a major version bump

[2020-01-29 14:14] musketyr commented on #173
I don't think so. the point is to support both (and enable just the ones which are present on the classpath). for example, there will be no good replacement of `DynamoDBMapper` soon so we will still need to use DynamoDB v1 alongside v2 services

[2020-01-29 21:20] avanishranjan opened #182 "Micronaut does not decode application/x-www-form-urlencoded content-type properly"
Micronaut in AWS is having issues decoding the body part for application/x-www-form-urlencoded content-type.

### Task List

- [x] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce
Here is the controller

[code]

1. clone the repo and run `m

[2020-01-30 09:19] alvarosanchez commented on #182
`@Part` should only be used for requests of type `multipart/form-data`.

Also, if you use the `@Body` annotation, it will obviously bind the whole body into the method argument.

The correct syntax is:

[code]

[2020-01-30 09:19] #182 closed

[2020-01-30 14:54] avanishranjan commented on #182
The behavior didn't change even after removing `@Part` annotation.
Also, if `@Body` is used with a `Map<String, String>` that also doesn't work.

[2020-02-06 11:22] RoadRunner120485 opened #186 "Changing jackson config causes weird behavior of Lambda request handling"
I found a problem with the whole Lambda handling, when changing the configuration of the default `ObjectMapper` in Micronaut:
[code]

This is because the `MicronautLambdaContainerHandler` uses the global `ObjectMapper`. I would expect, that the framework would use a seperate one, which is configured to just met the Lambda specifications or at least that the properties of classes used for Lambda AP

[2020-02-06 12:10] alvarosanchez commented on #186
What is the error that you are getting?

[2020-02-06 12:36] RoadRunner120485 commented on #186
e.g.
[code]
com.amazonaws.serverless.exceptions.InvalidRequestEventException: Invalid Request: null
at io.micronaut.function.aws.proxy.MicronautRequestReader.readRequest(MicronautRequestReader.java:123)
at io.micronaut.function.aws.proxy.MicronautRequestReader.readRequest(MicronautRequestReader.java:48)
at io.micronaut.function.aws.proxy.AbstractLambdaContainerHandler.proxy(AbstractLambdaContainer

[2020-02-06 12:39] ShubhadaRaut opened #187 "Receiving Invocation with requestId [] failed: org.apache.commons.logging.LogFactoryjava.lang.NoClassDefFoundError: org.apache.commons.logging.LogFactory for serverless function build with micronaut-bom 1.2.10 , graal 19.2.1 and aws sdk 2.10.56"
Created an application  using micronaut bom 1.2.10 version, along with  software.amazon.awssdk:lambda:2.10.56 & software.amazon.awssdk:s3:2.10.56 dependencies which had functionality to retrieve data from s3 storage and used graal 19.2.1 to create a native image.
The native image is successfully created but when i try to access the endpoint it fails for below exception:
`failed: org.apache.commons

[2020-02-07 08:20] RoadRunner120485 commented on #187
I had the same problem and found that solution at quarkus: https://github.com/quarkusio/quarkus/issues/4528

This worked for me.

Maybe one could replace `org.jboss.logging:commons-logging-jboss-logging` with `log4j-over-slf4j` bridge.

[2020-02-07 09:31] alvarosanchez commented on #187
The `commons-logging` dependency is brought transitively by `com.amazonaws:aws-java-sdk-core`.

@RoadRunner120485 what is the replacement that you used?

[2020-02-07 14:44] RoadRunner120485 commented on #187
in my `build.gradle.kts` I'm excluding `commons-logging` explicitly for all projects:
[code]

and in the module where I use aws SDK v2, I explicitly include `org.jboss.logging:commons-logging-jboss-logging`:
[code]

[2020-02-07 14:59] alvarosanchez commented on #187
Right, I think `org.slf4j:jcl-over-slf4j` is a better replacement

[2020-02-07 22:17] RoadRunner120485 commented on #187
👍 I agree. It was just the first solution that I found and it worked. So I left it at that.

But `jcl-over-slf4j` was what I meant when I wrote `log4j-over-slf4j`just copy & wasted the wrong name ... I mean things that contain `jboss` in it's name could not be the best solution for anything 😄

[2020-02-14 11:33] #187 closed

[2020-02-19 11:43] #186 closed

[2020-02-19 16:30] eugener opened #199 "Improve warm start time for AWS Lambda"
AWS Lambda limits resources (CPU and memory) only during `handleRequest` execution.
It might be beneficial to move application context creation, context bean registration and injection of request handler instance out of `handleRequest` method  ( possibly into constructor ) and  leave only function execution in it.

This seems to be already happening within `MicronautRequestStreamHandler` but not i

[2020-02-19 18:02] graemerocher commented on #199
PRs welcome

[2020-02-20 14:09] #199 closed

[2020-02-24 20:20] julada opened #205 "slow coldstart on AWS Lambda when Security is enabled"
### Steps to Reproduce

1. create example project with aws-api-gateway-proxy feature
2. add security filters
3. run on aws lambda function

### Expected Behaviour

activating security filters should not affect the startup time

### Actual Behaviour

the startup time increases significantly

### Environment Information

- **Operating System**: amazon-linux
- **Micronaut Version:** 1.3.1
- **JDK Ver

[2020-03-12 14:58] JulianVKelly opened #207 "Jackson Annotations not serializing JSON"
I'm in the process of following this guide - and so far so good : https://guides.micronaut.io/micronaut-function-graalvm-aws-lambda-gateway/guide/index.html

On thing I'm trying to do is annotate my kotlin data classes with `@JsonProperty("foo")` annotations to customize how they're serialized but this doesn't seem to work. Unless I use `@Introspected` my classes will either be serialized as blank

[2020-03-13 16:03] codeincan opened #208 "CORS headers should be present for deserialization failure"
Setup: API Gateway Proxy + Lambda

CORS headers should be present after a deserialization failure.

See the test case below.

[code]

[2020-03-17 10:06] jensW89 opened #209 "AmazonComputeInstanceMetadataResolver has an invalid path"
While connecting the application to a consul running in a different ec2 instance (same VPC) the following error occurs in the logs

`[35mi.m.d.c.a.AmazonComputeInstanceMetadataResolver[0;39m - error getting public host name from:http://169.254.169.254//latest/meta-data/publicHostname
java.io.FileNotFoundException: http://169.254.169.254//latest/meta-data/public-hostname`

double // is included i

[2020-03-26 12:00] sdelamo opened #217 "Eager Init Singletons for Lambda Handler"
I've run some tests in AWS Lambda to check the impact of Build of Micronaut Application Context  in the AWS Lambda Intialization phase and also the eager init of Singletons.

In the Intialization phase:

- AWS Lambda starts a JVM.
- Java rutnime loads and initializes handler class.

Thus, AWS Lambda runs static initalization and the handler's constructor in the Initialization phase.

AWS Lambda In

[2020-03-26 12:19] sdelamo opened #218 "Alexa AnnoatedRequestHandler uses DefinitionClass$$AnnotationMetadata classes which no longer get generated in Micronaut 2.0"
See: https://github.com/micronaut-projects/micronaut-aws/blob/master/function-aws-alexa/src/main/java/io/micronaut/function/aws/alexa/handlers/AnnotatedRequestHandler.java#L43

# Steps to reproduce

Try to update the build to use Micronaut 2.0.

## Update micronaut Version

`micronautVersion=2.0.0.M1`

## Define micronaut-security version explecitely:

`gradle.properties`
[code]

`function-aws-api

[2020-03-30 08:23] graemerocher commented on #217
This has to go into 2.0.0 and will require Micronaut 2.0

[2020-03-30 08:26] graemerocher commented on #205
This relates to #217 and will be fixed when that is closed

[2020-04-06 10:06] sdelamo opened #231 "Add tracing support for XRay"
- [XRay SDK for Java](https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-java.html)

https://aws.amazon.com/xray/

It would be good if we could support it as part of the [Micronaut's Distributed Tracing](https://docs.micronaut.io/latest/guide/index.html#distributedTracing) solution.

[2020-04-07 08:18] sdelamo opened #234 "In Lambda custom runtimes propagate the tracing header (Lambda-Runtime-Trace-Id) to env. _X_AMZN_TRACE_ID"
One of the steps described in [Custom AWS Lambda Runtimes](https://docs.aws.amazon.com/lambda/latest/dg/runtimes-custom.html):

[Setting Environment variables](https://stackoverflow.com/questions/318239/how-do-i-set-environment-variables-from-java) in Java is not supported and I don't think we should use any of the hack workarounds.

Moreover it seems AWS XRAY SDK does not support it either.

http

[2020-04-07 09:48] sdelamo opened #236 "Add support for Alexa outside lambda"
Currently there is an SDK for Servlets.

[Host a Custom Skill as a Web Service](https://developer.amazon.com/en-US/docs/alexa/alexa-skills-kit-sdk-for-java/host-web-service.html)

My idea is to provide something similar with a dependency to Micronaut `http-server` which you can use in Micronaut servlet environments but also with netty.

[2020-04-07 11:15] #218 closed

[2020-04-10 09:39] sdelamo opened #238 "Add ResponseInterceptors to Skill builder"
We are currently adding `RequestHandler` and `ExceptionHandler` and `RequestInterceptor` to Skill builder.

However, we are not adding [ResponseInterceptors](https://github.com/alexa/alexa-skills-kit-sdk-for-java/blob/2.0.x/ask-sdk-core/src/com/amazon/ask/dispatcher/request/interceptor/ResponseInterceptor.java)

[2020-04-10 11:55] sdelamo opened #240 "Add builder for SSML"
Add builder to ease construction of [Speech Synthesis Markup Language (SSML)](https://developer.amazon.com/en-US/docs/alexa/custom-skills/speech-synthesis-markup-language-ssml-reference.html#say-as) strings.

[2020-04-10 13:23] #238 closed

[2020-04-10 14:08] #240 closed

[2020-04-11 06:20] sdelamo opened #242 "Add to documentation that Micronaut is certified to run on Amazon Correto"
https://objectcomputing.com/news/2020/04/09/micronaut-now-certified-run-amazon-corretto

[2020-04-12 03:28] sdelamo opened #243 "Alexa Flashbriefings"
[Understanding the flash briefing skill api](https://developer.amazon.com/en-US/docs/alexa/flashbriefing/understand-the-flash-briefing-skill-api.html):

See feed format:

https://developer.amazon.com/en-US/docs/alexa/flashbriefing/flash-briefing-skill-api-feed-reference.html#details

[2020-04-14 09:51] #243 closed

[2020-04-14 21:09] flaviooliveri opened #247 "String format for HTTP POST body"
I'm doing a very simple lambda that's listens a webhook, verifies the request with a JWT token and sends the payload to an SQS queue. The problem is that part of that verification is to get a hash of the body and compare it with a parameter in the payload of the JWT. So, I need the raw body content, as string. When I try to get it in in this way
[code]
I get a parsing exception.

[code]
The conten

[2020-04-15 03:52] sdelamo opened #248 "Allow multiple Alexa Skill configuration"
Currently we allow only one alexa skill to be configured per. Allow multiple Skill configurations.

[2020-04-15 05:53] sdelamo commented on #247
Micronaut defaults to JSON as the consumed content-type but you could try

[code]

[2020-04-15 06:34] #242 closed

[2020-04-15 06:36] #248 closed

[2020-04-15 22:53] flaviooliveri commented on #247
If I use @Consumes(MediaType.PLAIN_TEXT) I get a 415 error. content-type of the request is 'application/json' so I guess Micronaut checks that and returns to the gateway "415 Unsupported Media Type"

The problem with creating the pojo is that I need to process a hash with the content of the body and compare it with the payload of the JWT. I need the body as String as it was sent.

[2020-04-16 07:02] sdelamo commented on #247
Could you share a sample app which reproduces the problem ?

is this lambda being called by API Gateway?

[2020-04-16 07:08] sdelamo commented on #247
If you are responding to an APIGateway event, you could do instead of using the api gateway module:

[code]

[2020-04-18 06:24] ShubhadaRaut commented on #187
Thank you, Sorry for the delay in reply. I used jcl-over-slf4j and the error is gone . thanks once again

[2020-04-20 06:16] sdelamo opened #255 "Add support to run a bespoken test file"
See [Bespoken Unti test file]https://github.com/alexa/skill-sample-nodejs-fact/blob/master/test/unit/index.test.yml)

See: [Bespoken](https://bespoken.io)

[2020-04-20 06:32] sdelamo opened #256 "Support custom runtimes not only when using API Gateway Proxy"
Our current support for [AWS Lambda for Custom runtimes](https://docs.aws.amazon.com/lambda/latest/dg/runtimes-custom.html) depends on using the API Gateway proxy integration.

We should support using custom runtimes and GraalVM native image generation for every raw lambda functions.

[2020-04-20 13:46] #236 closed

[2020-04-21 07:55] #217 closed

[2020-04-21 08:38] sdelamo commented on #205
Closing this since https://github.com/micronaut-projects/micronaut-aws/issues/217 is merged in master.

[2020-04-21 08:38] #205 closed

[2020-04-22 05:30] sdelamo opened #261 "rename swagger feature to openapi"
I think we should rename swagger feature to openapi.

OpenAPI 3.0, which is based on the original Swagger 2.0 specification, is the standard for defining and describing RESTFul APIs.

https://www.openapis.org

[2020-04-22 05:32] sdelamo opened #262 "Add feature to include Azure function suport"
See: https://micronaut-projects.github.io/micronaut-azure/snapshot/guide/index.html#azureFunction

[2020-04-22 06:02] graemerocher commented on #261
Is this meant to be here?

[2020-04-25 13:40] nikitakakra opened #263 "Micronaut: Loggers not appearing in AWS Cloudwatch & application not running in local"
I have a `Micronaut` microservice which had to be upgraded with the following version changes:

`Micronaut` bom version: 1.1.1 to 1.3.4
`Gradle`: 5.1.1 to 5.3
`Graal VM`:19.2.1
I am building the `native-image` using the `buildspec.yml` as given below:

[code]
The `example-function.zip` got deployed to `AWS Lambda` and while testing it through `APIGateway`, I am able to get the response but unable

[2020-04-27 10:05] sdelamo commented on #256
We have made progress to support any `RequestHandler`, see https://micronaut-projects.github.io/micronaut-aws/snapshot/guide/index.html#customRuntimeGraal

But we have to support Handlers implementing `RequestStreamHandler`. See:

https://github.com/micronaut-projects/micronaut-aws/blob/master/function-aws-custom-runtime/src/main/java/io/micronaut/function/aws/runtime/AbstractMicronautLambdaRuntim

[2020-04-27 15:19] bsamartins opened #264 "MicronautRequestStreamHandler ignores function name configuration property"
When running function in SAM with MicronautRequestStreamHandler, `micronaut.function.name` is ignored by the handler.

MicronautRequestStreamHandler takes, by default, the function name from the Lambda context.
Because function name is populated it never evaluates, the configuration property, not allowing the name to be overriden.

[2020-04-29 05:50] nikitakakra commented on #263
I was able to resolve the first issue i.e getting the loggers in `CloudWatch `, but not able to run the application on local. This is my [build.gradle](https://github.com/micronaut-projects/micronaut-aws/files/4549940/build.txt)  file

[2020-05-01 06:59] musketyr opened #270 "Support for multipart upload for API Gateway"
It would be nice to have support for file uploads with API Gateway out of the box. #269
adds basic support for handling binary formats with an example of how to handle file uploads manually using https://github.com/javadelight/delight-fileupload

[2020-05-01 17:52] ivarprudnikov opened #271 "CORS: OPTIONS returns 405 in AWS proxy handler"
micronautVersion=1.3.4
kotlinVersion=1.3.72

I might be misunderstanding things here but looks like server inconsistently works when CORS is enabled. Comparing how `OPTIONS` request is handled in `MicronautLambdaContainerHandler` versus how it responds to requests after `./gradlew run`. In the first case it responds with 405 and in second with 200.

Below is a test case but otherwise I've got a [s

[2020-05-05 22:56] mguajardo opened #274 "InvalidRequestEventException"
Hi,
Im getting the following error:

If I run it on a server it works fine.

My code looks like this

`@Put("/clientes/{clienteId}/ubicacion")`
     `public ResultadoWS saveUbicacionCliente(int clienteId,@Body Double[] ubicacion, @NotNull Authentication authentication){ ... }`
`

Full stacktrace:
com.amazonaws.serverless.exceptions.InvalidRequestEventException: Invalid Request: Cannot create TypeB

[2020-05-08 05:10] magJ commented on #52
Looking at the PR, it doesn't seem to solve the problem, I believe this issue should be reopened.

The PR makes changes to the exception handling behaviour within `MicronautLambdaContainerHandler#handleRequest`, but the `InvalidRequestEventException` is thrown before ever entering that method.

It can only be handled by `MicronautAwsProxyExceptionHandler`, which there appears to be no user way to

[2020-05-12 14:24] musketyr commented on #271
this is an obvious inconsistency between Netty and AWS implementation. you can work it around using the following controller:

[code]

in that case, the normal filter processing is triggered.

the issue is more generic - no filters are triggered if there is no route match.

[2020-05-19 13:18] #271 closed

[2020-05-22 07:08] #173 closed

[2020-05-22 07:26] musketyr commented on #173
thanks!

[2020-05-29 04:10] magJ commented on #52
So I have raised the PR #306 to address this, it allows the user to define an exception mapper for decoding errors.
Ideally these errors would be handled automatically, the same way the netty implementation does, but I don't think I'm the right person to make that change.

[2020-06-09 07:38] msandy10 opened #321 "micronaut-function-aws-api-proxy support for AWS Gateway HTTP API"
Hi Team,
We are thinking to migrate our lambda invocation from _AWS Gateway REST API_  to _AWS Gateway HTTP API_ to save some money(70% costs saving) and low latency

does Micronauts _micronaut-function-aws-api-proxy_ support AWS Gateway HTTP  API invocation?

### Environment Information
- **AWS**: Lambda with GraalVM and AWS Gateway Http API
- **GraalVM**: 19.2.0.1
- **Micronaut Version:** 1.3.4

[2020-06-09 07:49] graemerocher commented on #321
Not sure it supported yet, guess the implementation needs updating to support incoming HTTP API requests

[2020-06-09 07:54] msandy10 commented on #321
Are we planning to support HTTP APIs request in near future, look like micronaut-function-aws-api-proxy library level change only.

HTTP APIs are optimized for building APIs that proxy to AWS Lambda functions or HTTP backends, making them ideal for serverless workloads.

[2020-06-09 09:10] graemerocher commented on #321
Not in the short term, but longer term makes sense, otherwise PRs are of course welcome!

[2020-06-10 20:12] ddelponte opened #323 "Will the DynamoDB functionality be available in the M1 release?"
@alvarosanchez I see you've recently committed some code in support of DynamoDB. 😃

Do you know if this functionality will be available in the M1 release or a BUILD-SNAPSHOT?

Thanks!

[2020-06-11 05:47] alvarosanchez commented on #323
It is already available in the published 2.0.0.BUILD-SNAPSHOT. Check [the documentation about how to use snapshot versions](https://docs.micronaut.io/latest/guide/index.html#usingsnapshots).

And of course, it will be part of the upcoming 2.0.0 release.

[2020-06-11 05:47] #323 closed

[2020-06-11 13:33] deandelponte opened #324 "Some documentation updates"
1. DynamoDB support is not listed in the **What's new?** section
2. **AWS SDK v2** section has the following error
[code]

[2020-06-12 06:28] #324 closed

[2020-06-12 07:04] alvarosanchez opened #325 "Create a project BOM"

[2020-06-12 07:05] alvarosanchez commented on #256
@sdelamo are you going to be able to complete this issue before AWS 2.0 release?

[2020-06-12 07:09] graemerocher commented on #256
@sdelamo @alvarosanchez too late already, the feature missed the boat

[2020-06-17 16:06] traycho commented on #105
I tried to upgrade to 1.3.6 but still issue is present. On top the response is always 200

aws-sam-cli version is 0.47.0
https://bitbucket.org/traycho/micronaut-examples/src/master/

@alvarosanchez  I am not 100% if this is micronaut issue or aws sam cli doing something wrong.

[2020-06-17 17:00] traycho opened #341 "HttpResponse not working properly inside lambda environment using graalvm"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

Follow steps from https://bitbucket.org/traycho/micronaut-examples/src/master/

1. application
2. Run it in sam local environment
3. Execute curl -G http://localhost:300

[2020-06-17 17:00] traycho commented on #341
Reopned from https://github.com/micronaut-projects/micronaut-aws/issues/105

[2020-06-17 17:07] graemerocher commented on #341
most probably an issue with interaction with lombok

[2020-06-17 19:41] traycho commented on #341
Just tried removing the lombok, same result.

[2020-06-18 06:49] alvarosanchez commented on #105
Micronaut 1.3.6's BOM contains Micronaut AWS 1.3.9.

This issue was shipped in Micronaut AWS 1.4.0

[2020-06-18 08:59] traycho commented on #341
Confirm adding concrete version 1.4.0 is solving the issue
io.micronaut.aws:micronaut-function-aws-api-proxy:1.4.0

Closing the ticket.

[2020-06-18 08:59] #341 closed

[2020-06-18 09:00] traycho commented on #105
@alvarosanchez Thanks for the fast feedback confirming io.micronaut.aws:micronaut-function-aws-api-proxy:1.4.0 is solving the issue.

[2020-06-18 14:49] sdelamo opened #349 "Ship a AwsResourceAccessCondition"
It would be cool if we could ship a condition such as:

[code]

https://docs.aws.amazon.com/sdk-for-java/v2/developer-guide/java-dg-roles.html

And whenever, you create a bean which creates a AWS Resource annotate with `@Requires `

[code]

If you use Micronaut within AWS I could see myself annotate a lot of beans with such a condition. The bean which uploads files to S3, the bean which sends emai

[2020-06-18 16:17] alvarosanchez commented on #349
I don't see it.

The service clients have a constructor dependency on both `AwsCredentialsProviderChain` and `AwsRegionProviderChain`. So If anything, I would change their factory (`CredentialsAndRegionFactory`) to check if they resolve to a non null `AwsCredentials` instance.

[2020-06-24 21:00] sam-lewis opened #376 "Support disabling System Manager Parameter Store queries by micronaut environment"
The start-up performance of my AWS lambda function is negatively impacted by the number of requests to System Manager Parameter Store.

Currently paths for every active micronaut profile are queried e.g.
- `/config/application`
- `/config/myapp`
- `/config/application_EC2`
- `/config/myapp_EC2`
- `/config/application_lambda`
- `/config/myapp_lambda`
- etc etc

I would like the ability to only quer

[2020-06-25 07:11] graemerocher commented on #376
Seems like a good idea, PRs welcome

[2020-06-25 08:50] sam-lewis commented on #376
Thanks @graemerocher I opened a draft PR

[2020-06-26 08:02] chkpnt commented on #274
I can confirm having the same issue when having a `@Valid`-annotated bean which contains an enum, where the to be validated json-representations contains an invalid enum value.

Jackson is throwing an `InvalidFormatException`, leading to a `CodecException` which is then catched by `MicronautRequestReader` and rethrown as an `InvalidRequestEventException`.

[code]

I have a custom `ExceptionHandler

[2020-06-26 08:21] graemerocher commented on #274
Please provide an example that reproduces the issue

[2020-06-26 16:50] ktholen commented on #274
I am not sure if this is the same issue, but we are getting an issue where a 500 internal server error is always returned when the request cant be deserialized. We are using `MicronautLambdaContainerHandler` and that handler uses a `new MicronautAwsProxyExceptionHandler(lambdaContainerEnvironment)` set within its constructor. It looks like since the reader is throwing the exception in the `proxy`

[2020-06-29 06:59] pfrank13 opened #385 "Potential Memory Leak Graal Native Image in Lambda"
### Steps to Reproduce

1. git clone --branch memory_leak https://github.com/pfrank13/java-serverless.git
2. `./deploy.sh` creates `./build/function.zip`
3. deploy that into a lambda (256 MB needed ) that can talk to a mysql instance and execute `POST /books` with `{"name":"someBookName0"}`

This will work about 3 times before an OutOfMemoryException occurs. See attached Cloudwatch logs
[log-event

[2020-06-29 07:01] graemerocher commented on #385
Thanks for the report, we will investigate. I wonder if it is leaking connections. Could you try something and change

[code]

for

[code]

[2020-06-29 16:16] pfrank13 commented on #385
Thank you so much for the quick reply! I'll try that tonight and get back to you.

[2020-06-30 03:49] pfrank13 commented on #385
@graemerocher
To see what I did it's tag is here:
`git clone --branch 385_memory_leak_tomcat_dbcp https://github.com/pfrank13/java-serverless.git`
In my estimation my config is to only use 1 database connection.

Results ended in an OutOfMemoryException
[log-events-viewer-result_tomcat_dbcp.csv.zip](https://github.com/micronaut-projects/micronaut-aws/files/4849330/log-events-viewer-result_tomcat_d

[2020-07-01 12:44] JouperCoding opened #389 "Controller Version Routing - sam local start-api"
When creating a @Controller which defines endpoints with the @Version annotation, the requests using X-API-VERSION header is not routed to the right method in a sam local start-api context. Running the same code using netty to serve the API locally works as intended

### Steps to Reproduce

1. Create a new function app
2. Create handler using RequestHandler and a Micronaut Lambda Container
3. Crea

[2020-07-02 13:45] limcheekin opened #392 "Escaped json response from micronaut-graphql when use with micronaut-function-aws-api-proxy"
Hi there,

### Steps to Reproduce
1. Create more data by posting the following json to the AWS lambda URL:
https://0wkpgk7b07.execute-api.ap-southeast-1.amazonaws.com/Prod/people
[code]
Then, it will response:
[code]
2. Retrieve the data by posting the following json the GraphQL endpoint with content type `application/json`:
https://0wkpgk7b07.execute-api.ap-southeast-1.amazonaws.com/Prod/graphql

[2020-07-03 11:45] ilopmar commented on #389
@JouperCoding can you please provide an sample `sam.yaml` file and the `sam` command you use to start the app?

[2020-07-03 19:22] gradinac commented on #385
Hey @pfrank13, thank you for reporting the issue!
I have been looking into this from the native-image side. I do not have access to AWS so I could not run the lambda version of this project.

When running the application locally (without the Lambda stuff in it), I have not been able to hit the error.
One of the main leads here is the exception you've posted: `java.lang.OutOfMemoryError: Direct buf

[2020-07-04 00:45] pfrank13 commented on #385
Sure thing! The Java version of the Lambda had no issues at all. Worked like a charm and memory was stable (albeit ~380 MB which isn't that surprising). So this is definitely something with the Native portion. `-R:MaxHeapSize=<val>` yeah for whatever reason in my 512 MB lambda it was capping (it seemed) at 256 MB but I'll try that and get back to you ASAP

[2020-07-04 04:21] pfrank13 commented on #385
All right, so hopefully you can explain this. Since you had me monkeying around in the bootstrap I was looking at the params being passed and they were (as generated by the micronaut starter site) `./java-serverless -Xmx128m -Djava.library.path=$(pwd)`. I figured, well if the starter generated it, then I guess it's fine. I added the -R argument you said, no dice, still OOME. However, for fun I jus

[2020-07-04 04:23] pfrank13 commented on #385
Sorry I was speaking in Spring-isms. I guess for micronaut then starter site is called launch. Every time you see "starter" above I meant this site: https://micronaut.io/launch/

[2020-07-04 15:07] gradinac commented on #385
@pfrank13 That argument completely slipped past my mind! `native-image` respects the `-Xmx` option which limits our available memory at runtime. It is directly tied to `MaxHeapSize`, but it might be that, due to the ordering of the arguments, the generated one overrode the one you added. I'll see if we can handle that case on `native-image` side with some kind of a message informing the user that

[2020-07-04 15:08] gradinac commented on #385
@pfrank13 Nice work catching that! :)

[2020-07-04 15:38] pfrank13 commented on #385
Mystery solved. Works as designed! Thank you so much for your help @gradinac, at least we found it quickly and I didn't make you rabbit hole too bad on a non-issue :)

[2020-07-05 07:37] graemerocher commented on #385
@pfrank13 could you specify what is the argument that is problematic?

[2020-07-05 07:37] graemerocher commented on #385
We may need docs

[2020-07-05 13:31] gradinac commented on #385
@pfrank13 No problem at all! I'm glad we got to the bottom of it :)

@graemerocher The problematic argument was '-Xmx128m', it limited the amount of memory available to the app leading to the OOM exception

[2020-07-05 17:43] pfrank13 commented on #385
Yeah +1 to @gradinac , I think that may have done it. I'm fairly certain that is auto generated by the launcher site cause I'm not smart enough to know that :)

[2020-07-05 19:56] chkpnt commented on #274
I've just uploaded an demonstrator at https://github.com/chkpnt/micronaut-aws-issue-274

You can use swagger-ui to send the requests:
1. `./gradlew run` -> http://localhost:8080/swagger/views/swagger-ui/index.html
1. `./sam-local.sh` -> http://localhost:3000/swagger/views/swagger-ui/index.html

In the first case, where `MicronautLambdaRuntime` isn't used, I get the following response (HTTP 400) fo

[2020-07-06 07:46] ilopmar commented on #385
@pfrank13 Yes, that value is generated by the Starter: https://github.com/micronaut-projects/micronaut-starter/blob/master/starter-core/src/main/java/io/micronaut/starter/feature/awslambdacustomruntime/templates/bootstrap.rocker.raw#L15

Please feel free to send a PR to remove it or to increase it.

I also think we should remove the `-Djava.library.path=$(pwd)`. That was used in the past when we n

[2020-07-08 16:14] #389 closed

[2020-07-09 05:34] JouperCoding commented on #389
Looks like you were able to resolve this before I had a chance to respond :)

Quick question, when can I expect this fix to be release in 2.0.0?

Thanks!

[2020-07-09 07:52] ilopmar commented on #389
@JouperCoding Well, I wasn't able to test it on sam-local, only on tests, so it would be great if you can provide the yaml template.

We need to discuss a few things about this issue before releasing micronaut-aws 2.0.1 but in the meantime you can try the 2.0.1.BUILD-SNAPSHOT version.

[2020-07-09 10:25] JouperCoding commented on #389
@ilopmar Im using the following saml yaml template. and im running

gradlew.bat build && sam local start-api -t public-api.yaml

[code]

I will try the 2.0.1.BUILD-SNAPSHOT today! thanks

[2020-07-09 10:39] ilopmar commented on #389
@JouperCoding I'm confused. I though you were using the Api Proxy Gateway approach with normal Micronaut `@Controller` in your application. I've tested this issue following this approach and I don't have any "Handler" class. This is the only class in my project:
[code]

Can you please show me the content of `example.handlers.PublicApiHandler`?

[2020-07-09 11:35] JouperCoding commented on #389
Hey,

As a mentioned above i have two ways to run this application. The real way is using the PublicApiHandler + SAM local to test

1. The real handler is the PublicApiHandler which i have attached below. Using this handler @Version does not work when sending requests with the Version header.

2. The second dev runtime i have is a simple Micronaut.run() application.java class. This one is using ne

[2020-07-11 09:57] eisig opened #409 "aws-lambda api gateway not work with Flux<HttpResponse>, or Flowable<HttpResponse>"
aws-lambda MicronautLambdaHandler do not work if  return result
`Flux<HttpResponse>, or Flowable<HttpResponse>`.
but is ok to return `Single<HttpResponse>, Mono<HttpResponse>, or any Publisher<BookSaved> `

### Steps to Reproduce

1. create app with `mn create-app my-app --features aws-lambda`
2. add  code to the BookController
[code]

3. Add some tests

[code]

### Expected Behaviour

 All tests

[2020-07-11 10:25] eisig opened #410 "The default proxy config for aws sdk v2 not work."
The default proxy config for aws sdk v2 would enable proxy for all request .
I have to add  config to make it work.
[code]
I should not be the default behavor.

### Steps to Reproduce

1. cate demo with ` mn create-app my-app2`
2. Add dependency:
[code]
3. Add test code
[code]

### Expected Behaviour

Just work.

### Actual Behaviour

If not add  `non-proxy-hosts`. It failed:

[code]

### Environm

[2020-07-14 07:09] ilopmar opened #412 "Feature aws-api-gateway used in docs doesn't exist"
This doc https://micronaut-projects.github.io/micronaut-aws/latest/guide/index.html#apiProxy shows:

Using the CLI with Micronaut 1.1 or above
$ mn create-app my-app --features aws-api-gateway

But the `aws-api-gateway` feature doesn't exist.

[2020-07-14 07:11] ilopmar opened #413 "create-function command doesn't exist"
From: https://micronaut-projects.github.io/micronaut-aws/latest/guide/index.html#lambda

 Using the CLI
$ mn create-function example

`create-function` command doesn't exist.

[2020-07-16 08:36] ilopmar commented on #389
@JouperCoding I've released `micronaut-aws:2.0.1` that include the fix.

[2020-07-30 12:24] bangroot opened #436 "Support the use of Route53 Service Names instead of only Service Ids."
When using AWS Cloud Map (Route 53 Service Discovery), the [Route53AutoNamingClient](https://github.com/micronaut-projects/micronaut-core/blob/master/discovery-client/src/main/java/io/micronaut/discovery/aws/route53/client/Route53AutoNamingClient.java) uses the service id (e.g. `srv-xxxxxx`) exclusively.

This makes it troublesome for moving between environments for things like @Client usage. I'd

[2020-08-03 13:39] chkpnt commented on #274
Any update here?

[2020-08-03 14:25] KnutKnutson commented on #52
What's the release plan for magJ's fix? The PR isn't associated with a milestone.

[2020-08-03 14:32] ilopmar commented on #52
The PR was included in `2.0.0.RC1` release: https://github.com/micronaut-projects/micronaut-aws/releases/tag/v2.0.0.RC1

![image](https://user-images.githubusercontent.com/559192/89193873-e61a6b80-d5a6-11ea-8851-511bcf50ebf9.png)

[2020-08-05 13:24] JouperCoding commented on #389
Perfect! Will take a look at it this week!

[2020-08-06 02:39] limcheekin commented on #392
The issue doesn't happened in the following version of Micronaut:
[code]

Hence, I downgraded it from the following version to keep the ball rolling:
[code]

[2020-08-06 15:18] JouperCoding commented on #389
Hello,

It looks like this is still an issue. I have updated to Micronaut 2.0.1 and when i Invoke my /api/ping endpoint you can see its printing the X-API-VERSION header as 2 but printing out recived ping v1. This is still only an issue when running this in docker via the sam local-api.

![image](https://user-images.githubusercontent.com/4056655/89549385-8622ff80-d808-11ea-8d27-196ce046a926.png)

[2020-08-06 16:01] ilopmar commented on #389
This is the test application I was using https://github.com/micronaut-core-issues-test-app/issue-aws-389. I've committed my changes and updated to Micronaut 2.0.1.

Take a look at the controller and the tests.

[2020-08-06 18:29] JouperCoding commented on #389
Hey @ilopmar,

There are alot of details missing from that test application. I created a fork with the sam template and some instruction for setting it up. Please try running my project https://github.com/JouperCoding/issue-aws-389 using Docker + SAM to locally run the API.

[2020-08-07 08:01] ilopmar commented on #389
I've tried with your application and it works ok for me:

![DeepinScreenshot_select-area_20200807095944](https://user-images.githubusercontent.com/559192/89623345-c0d27980-d894-11ea-8998-56b1a066bf2f.png)

Please notice that I'm using you latest commit https://github.com/JouperCoding/issue-aws-389/commit/2e90829d31051fb745a86240afb6061ab5410097 (green square)

There must be something wrong on your

[2020-08-07 09:18] JouperCoding commented on #389
Morning @ilopmar

Yup! I also got it to work just now. Seem like i had some issue with my environment. All good now! Thanks!

[2020-08-07 09:24] ilopmar commented on #389
Excellent, glad it works for you :-)

[2020-08-12 13:13] gausnes commented on #410
I also ran into this issue. I think I have an idea of how to patch the codebase but it isn't a graceful approach.

This appears to be resulting from have a non configured non null ProxyConfiguration being injected. The
code in `NettyClientConfiguration` appears to be causing these issues:

[code]

I think this could be updated to the something like to get things working a bit more naturally:

[cod

[2020-08-13 20:45] anilokta commented on #412
Any update on this issue?

[2020-08-17 00:01] mlaiboy opened #454 "Micronaut+DynamoDB+GraalVM: Error while creating the image"
I created the project from the Project Generator of Micronaut framework. I have extended it to read items from DtnamoDB.

### Steps to Reproduce
Checkout https://github.com/mlaiboy/demo-native
Run ```docker-build.sh```

### Expected Behaviour
Just work.

### Actual Behaviour
It failing while creating native-image.

Step 19/24 : RUN /usr/lib/graalvm/bin/native-image --no-server -cp build/libs/demo-

[2020-08-17 11:11] alvarosanchez commented on #410
@gausnes your approach is fine. Are you keen on submitting a PR with the change?

[2020-08-17 13:51] ilopmar commented on #454
@mlaiboy Adding `--report-unsupported-elements-at-runtime` makes it work. Please keep in mind that the usage of that flag is discouraged and should be avoided.

I'll report an issue to GraalVM.

[2020-08-17 15:40] ilopmar commented on #454
https://github.com/oracle/graal/issues/2758

[2020-08-18 02:49] mlaiboy commented on #454
Thanks a lot. It did fix the issue.

[2020-08-18 02:49] #454 closed

[2020-08-18 08:54] #410 closed

[2020-08-19 08:44] #376 closed

[2020-08-19 14:16] malysz opened #459 "AWS SNS Event is not being deserialised correctly"
Hi, I'm trying to use Micronaut 2.0.0 with AWS Lambda and SNS Event as an input and it looks like my SNS Event is not being deserialised and the sns record is empty.

The code I use:
[code]

Project uses lambda-events:
[code]

### Expected Behaviour

I should be able to get message from SNS Event JSON (sample below):
[code]

### Actual Behaviour

[code]

### Environment Information

- **Operating

[2020-08-19 16:14] alvarosanchez commented on #274
Duplicates #52.

I noticed in the example application that the micronaut-aws version used was 1.3.9. This has changed in micronaut-aws 2.x.

Since #306, you can register a custom codec exception handler like:

[code]

Note that, strictly speaking, this is not a validation failure, since it's Jackson failing to parse the JSON early on.

Alternatively, you can enable `DeserializationFeature.READ_UNK

[2020-08-19 16:14] #274 closed

[2020-08-21 07:24] adamkobor commented on #207
I have the same issue (see example no. 3) with `@JsonProperty` annotations in native images

[2020-08-21 07:35] ilopmar commented on #207
`@Introspected` is kind of mandatory. Jackson uses reflection so unless you tell those classes to GraalVM it won't work. When annotating a POJO with `@Introspected` Micronaut will generate [Bean Introspection Metadata](https://docs.micronaut.io/latest/guide/index.html#introspection). Then the Jackson module we have for serialization/deserialization will use it. So, even if you don't use GraalVM, m

[2020-08-21 15:23] sdelamo opened #462 "Release History section should point to Github Release in the docs"
We should migrate the current information at https://micronaut-projects.github.io/micronaut-aws/latest/guide/#releases to Github releases' notes

[2020-08-24 17:22] wololock opened #465 "AWS Lambda custom runtime with native-image fails with "Unconvertible input: null""
Hello, Micronaut Team! I'm trying to deploy AWS Lambda using a native-image function generated with GraalVM. I tried the demo `BookLambdaRuntime` with the same result. (Running AWS Lambda from the JAR with the same application works without any issues.) I don't know if I make some trivial mistake, or if there is some bug in the latest Micronaut 2.x, so I decided to let you know about it.

### Task

[2020-08-24 20:53] ilopmar commented on #465
@wololock We have a test application for AWS Function + GraalVM here: https://github.com/micronaut-graal-tests/micronaut-function-aws-graal

Please take a look at it and let me know if that works for you.

[2020-08-24 21:35] wololock commented on #465
Thanks for the repo link, @ilopmar! :smile:

I did a quick run - `./build-native-image.sh` + manual function upload using AWS Lambda UI, then running test with `{"category": "foo"}` and it fails on starting the native app:

![Przechwycenie obrazu ekranu_2020-08-24_23-31-44](https://user-images.githubusercontent.com/1258405/91098720-478fa080-e662-11ea-93da-c8c33f0fd901.png)

I'm gonna dig into that

[2020-08-24 22:11] ilopmar commented on #465
Thanks. Our CI passes [build](https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/701185207) and [test](https://gitlab.com/micronaut-projects/micronaut-graal-tests/-/jobs/701185325) but we are using now GraalVM 20.3-dev and not 20.2.0 (which I assume you are using). I think I did try this with that version, but I might be wrong.

I've done a couple of quick tests deploying the funct

[2020-08-30 17:57] wololock commented on #465
@ilopmar, with a small delay, but I finally tested the program with a similar CloudFormation template as https://github.com/micronaut-graal-tests/micronaut-function-aws-graal/blob/master/sam-native.yaml This works fine, however it accesses the native image function using API Gateway. The test I was running previously did not involve API Gateway but rather testing AWS Lambda directly with the tool

[2020-08-31 13:15] sdelamo commented on #412
I've re-written the Lambda docs. It links to several guides about AWS Lambda and Micronaut 2.

https://micronaut-projects.github.io/micronaut-aws/snapshot/guide/index.html#lambda

[2020-08-31 13:15] #412 closed

[2020-08-31 13:31] #462 closed

[2020-09-01 04:21] sdelamo commented on #465
I have update the [Lambda documentation](https://micronaut-projects.github.io/micronaut-aws/latest/guide/index.html#lambda). There are multiple guides also linked from the documentation.

I you are using a runtime such as`BookLambdaRuntime`, it expects the event received by the lambda to be a aws proxy event. Which is what you will receive if the lambda is triggered by API Gateway.

I have include

[2020-09-01 04:22] sdelamo commented on #465
If you want to trigger your via S3 event, then you will need to update the Runtime class accordingly.

[2020-09-01 04:53] sdelamo commented on #413
I have update the [Lambda documentation](https://micronaut-projects.github.io/micronaut-aws/latest/guide/index.html#lambda).

[2020-09-01 04:53] #413 closed

[2020-09-01 17:33] wololock commented on #465
Awesome, that makes much more sense now, thanks @sdelamo! Feel free to close this issue, I think there is nothing to do. Thanks for your patience and willingness to explain how to use AWS Lambda with the Micronaut function app correctly, @ilopmar and @sdelamo :+1:

[2020-09-03 13:23] graemerocher opened #493 "Ensure all AWS events are registered for reflection and work in Native Image"
Not all AWS events work on native image. We need to fix that.

[2020-09-03 20:17] cassadyj commented on #459
I am unable to reproduce the actual results above.  When an SNS Event is provided to the Lambda function, the message is parsed correctly.  Tested with the Lambda test utility as well as an even published from an SNS Topic.

If this is still an issue for you, provide more information about your Lambda function, how it is configured and permissions allowed.

[2020-09-04 06:44] msandy10 commented on #207
Hi Team, I have recently upgraded Micronauts from 1.1.1 to 1.3.6 and AWS SDK Lambda 2 with GraalVM Native image, we are invoking lambda function using request_response type and capturing in below model ResponsePayload, Getting similar issue as shown in below message

- **Micronauts** : 1.3.5
- **Micronaut Data** : 1.10
- **AWS SDK Lambda** : 2.12.0
- **GraalVM** : 19.2.1

`timestamp,message
159920

[2020-09-04 08:16] msandy10 opened #495 "AWS Lambda SDK Request_Response failing on GraalVM Image"
Hi Team, I have recently upgraded Micronauts from 1.1.1 to 1.3.6 and AWS SDK Lambda 2 with GraalVM Native image,
we are invoking other lambda function endpoint using request_response type and capturing in below model ResponsePayload

GraalVM 19.2.1 Native Image getting generated but aws sdk call not working and GraalVM 20.0.0 native image generation error
### Environment Information

- **Operating

[2020-09-04 10:41] msandy10 commented on #495
Observed that Jackson Mapper `mapper.writeValueAsString(request)` are not working in GraalVM, it converted object to json like `{}` instead of  `{\"resource\":\"/resource\",\"path\":\"/path",\"httpMethod\":\"GET\",\"multiValueQueryStringParameters\":{\"email\":\"user_email@test.com\"}}` thats why aws sdk lambda giving json response `{""statusCode"":404,""multiValueHeaders"":{},""isBase64Encoded"":

[2020-09-04 14:42] cassadyj commented on #231
There is currently a project in Beta to provide an OpenTracing Impl backed by X-Ray here.  We should probably take a look at what they have to see if there is anything we can leverage.  https://github.com/opentracing-contrib/java-xray-tracer

[2020-09-04 15:07] graemerocher commented on #495
Please upload an example that reproduces the problem

[2020-09-04 20:47] dgbmariano opened #497 "FileNotFoundException error getting public host name from:http://169.254.169.254/latest/meta-data/publicHostname"
This issue is related to this issue: https://github.com/micronaut-projects/micronaut-core/issues/2934.
Our app is hosted in Amazon and every time that we start a pod we get two errors:

[code]

And:
[code]
For the second error, I believe that the cause is because of the val `metadataUrl` that is `url + "/latest/meta-data/"` defined in the file `AmazonMetadataConfiguration.java` but in the file `Am

[2020-09-05 06:41] msandy10 commented on #495
-  **_[Graalvm 1.2.1](https://github.com/oracle/graal/releases/download/vm-19.2.1/graalvm-ce-linux-amd64-19.2.1.tar.gz)_** unable to reproduce in local(gu have an issue) able to reproduce with existing image
- **_[Graalvm 1.3+ & 20.0.0]_** both are giving native image generation issue, attaching example to reproduce
[my-aws-api-graal-native-image.zip](https://github.com/micronaut-projects/micronau

[2020-09-08 03:34] msandy10 commented on #495
@graemerocher I have attached an example for a reproducing the issue, can you please have a look on code

[2020-09-09 20:38] #465 closed

[2020-09-10 09:30] #459 closed

[2020-09-22 04:35] codekirukkan opened #543 "io.micronaut.web.router.exceptions.UnsatisfiedBodyRouteException: Required Body [text] not specified"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-09-22 05:41] sdelamo commented on #392
Several things about your sample code:

- You no longer need to annoate your controllers with @Validated

- You can delete the class StreamLambdaHandler. You can use directly `io.micronaut.function.aws.proxy.MicronautLambdaHandler` as your handler.

When workign with Lambdas it is important to keep dependencies in your main classpath to a minimum.

- You should not include the http-server-netty de

[2020-09-22 05:49] sdelamo commented on #392
@limcheekin I am not able to reproduce your issue with your sample appplication.

However, I think version 2.0.3 of Micronaut AWS may contain a fix for your problem. Coud you try with 2.0.3 and confirm it is fixed.

[code]

Please, reopen if the issue is still unsolved.

[2020-09-22 05:49] #392 closed

[2020-09-22 06:40] limcheekin commented on #392
Yes, you suggestion resolved the issue. 👍

You can't re-produced the issue again using the steps above as I deployed the code of the branch which using previous version Micronaut which don't have such issue.

[2020-09-25 06:26] graemerocher commented on #543
I ran into this issue and it is specific to using `String`, if you use `byte[]` a the body it will be fine. It was fixed as part of this commit https://github.com/micronaut-projects/micronaut-aws/commit/9c7bb57470a8a4d1ea6210403fcd73cf22ee3e8d

[2020-09-25 06:26] #543 closed

[2020-09-25 06:26] graemerocher commented on #543
You should probably try the released `2.1.0.RC1` version of the `aws` modules which includes the fix

[2020-09-26 21:24] kastork commented on #207
My problem appears to be related.

When using SAM cli, the lambda request fails because mn is returning `'base64Encoded':False` instead of `'isBase64Encoded':False`

This is true even after adding

`    implementation("com.fasterxml.jackson.module:jackson-module-kotlin:2.11.0")` to the build

My test is the "launch" generated example, but I subclassed `MicronautLambdaHandler` to add some log outpu

[2020-09-27 10:52] graemerocher commented on #207
@kastork please upload an example with steps to reproduce

[2020-09-27 17:53] kastork opened #544 "MicronautLambdaHandler returns invalid response in SAM local"
This might be a very specific situation, but it seems like this should "just work"

When using the AWS CDK to generate a lambda/api-gateway application, you can now generate a local `template.yaml` and run it locally with the SAM cli. I've done this and it seems like a nice way to do this sort of thing, but I've run into a problem that may or may not be Micronaut related.

I've attached a project

[2020-09-27 17:54] kastork commented on #207
Since this seems to be more than just a Jackson serialization issue, I've made a separate issue #544 that has a reproducer project attached.

[2020-09-27 19:26] adamkobor commented on #207
I had a similar issue, regardless AWS: I've added a `@field:JsonProperty("some_value")` annotation to a property of a Kotlin data class, let's call it `ResponseData` for the sake of example. Then I've used it in a declarative client as a return type of `Single<ResponseData>`, but Jackson was unable to deserialize the JSON response with a `some_value` property in it into a `ResponseData` object.

[

[2020-09-27 21:04] kastork commented on #544
I'm now less convinced this has to do with Micronaut.  When deployed to AWS, the project works as expected.

[code]

I'll look into issue over at the SAM cli project.

[2020-09-27 21:20] kastork commented on #544
Related issues.  It seems nobody is willing to own this.

https://github.com/awslabs/aws-serverless-java-container/issues/262#

https://github.com/aws/aws-sam-cli/issues/1193#issuecomment-495004163

[2020-09-28 06:35] graemerocher commented on #544
Seems like a bug in SAM if it only occurs there

[2020-10-14 19:59] ducampbe opened #605 "Using DynamoDB client (with URLConnection client) results in an error"
### Steps to Reproduce

1. Create a new project from the micronaut-cli with support for AWS SDK v2 & AWS Lambda
2. Add the following to the build.gradle
[code]
3. In one of the unit tests, attempt to inject `DynamoDBClient` into the class and execute the unit test

### Expected Behaviour

The unit test should complete successfully with no errors and the class should contain an instance of DynamoDB

[2020-10-15 10:15] #605 closed

[2020-10-26 19:23] etnishiyama commented on #497
We have the same issue here. Do we have any update on this?

[2020-10-27 14:47] jhullse opened #656 "Lambda proxy is routing and passing decoded path variable when it should be encoded"
### Context:
Let's say we have the following user class with its respective controller:

[code]

[code]

If we run the application purely **without using `micronaut-aws` and its Lambda proxy**, the `UserController.show` action will only find the user `email+alias@gmail.com` if we encode the email. If we don't encode the email Micronaut will interpret the plus sign (`+`) as a whitespace (because it

[2020-10-27 18:44] ttzn opened #657 "Parameter Store queries could use some configurability"
As stated in the documentation [here](https://docs.micronaut.io/latest/guide/index.html#distributedConfigurationAwsParameterStore), the `AWSParameterStoreConfigClient` will send queries for a number of paths computed from the application name and the active environments, following a fixed format. In one of my projects, an application needed to access values written by a configuration publishing pi

[2020-10-27 19:41] gregorydickson commented on #656
+1

[2020-10-28 06:06] alvarosanchez commented on #544
Closing as per previous comments

[2020-10-28 06:06] #544 closed

[2020-10-28 07:38] graemerocher commented on #657
PRs welcome!

[2020-11-10 11:05] ttzn commented on #656
I had the exact same issue. Variable values are obviously decoded twice in the context of a Lambda handler, which uses `MicronautAwsProxyRequest`. This does not happen with `NettyHttpRequest`. Here is a bare-bones test case using @jhullse 's model and controller:

[code]

It seems the root cause is that `MicronautAwsProxyRequest`'s `getPath` method, which is called when building the route matching

[2020-11-10 13:16] graemerocher commented on #656
Yes it should be using `getRawPath()` it seems

PRs welcome!

[2020-11-10 13:54] ttzn commented on #656
@graemerocher do you think we should just override the method in `MicronautAwsProxyRequest`, or that I can safely patch the default impl all the way up in `micronaut-http` ? I don't know how much code might depend on that.

[2020-11-11 20:05] #656 closed

[2020-11-12 15:31] charlie-harvey commented on #102
This issue confuses me when I look at the code.
The default Runtime created by the project generator looks like this:

[code]

Which clearly translates the `Body` of an `APIGatewayProxyReqeustEvent` and hands your code a `Book`. Great.

But I changed my Runtime to look for `SNSEvent`s instead. And I am not asking to translate the `Message`, I'll do it myself.

[code]

Taking a look at the code in

[2020-11-13 07:42] #657 closed

[2020-11-13 18:33] charlie-harvey commented on #493
How difficult is this task? Can it be done by looking at previous examples? I would be happy to work on it - really love what you are doing here and want to help.

[2020-11-18 21:01] charlie-harvey opened #732 "MicronautRequestHandler is not creating a Context - beans and properties do not inject"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-11-19 11:26] athkalia commented on #26
May help future readers:

I was getting the same error with a non-native GraalVM app because I forgot to add the

[code]
[ShadowJar Gradle plugin](https://github.com/johnrengelman/shadow) configuration in my `build.gradle` file.

[2020-11-19 22:56] ttzn commented on #497
If you could provide a minimal example set up that we can reproduce (with dependency versions), it would increase the likelihood that somebody contributes a fix.

[2020-11-20 11:11] ttzn commented on #732
Add the following in `build.gradle`:

[code]

This is actually required in **all projects**. Micronaut property loading uses the ServiceLoader API and reads `META-INF/services/io.micronaut.context.env.PropertySourceLoader` to find implementations, but many dependencies declare their own and they end up overriding each other. In your case it only contained:

[code]

With the fix it looks like:

[co

[2020-11-20 11:33] graemerocher commented on #732
I believe it should be fixed in Micronaut 2.2 just released which automatically applies `mergeServiceFiles()` in the Gradle plugins

[2020-11-20 11:37] #732 closed

[2020-11-20 14:20] charlie-harvey commented on #732
@ttzn Thanks so much for pointing that out. I feel less crazy now. Lost a few weeks pulling my hair out. @graemerocher Thanks for getting the fix in. I'll give it a try.

[2020-11-24 19:07] deandelponte opened #754 "The QueryValue annotation no longer works for micronaut version 2.2.0 apps that use the lambda runtime"
### Steps to reproduce

1. Check out the code at https://github.com/ddelponte/lambda-runtime-bug
1. Run the app using Java 11  Amazon Corretto and the command `./gradlew run`
1. Once the app is running, in your browser go to http://localhost:8080/search?searchText=derp

### Expected results
I would expect to see the parameter value pulled out of the URL and displayed in the page like `Your searchT

[2020-11-25 02:36] nanodeath opened #761 ""Error decoding JSON stream" in @Error methods"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2020-11-25 16:11] msolanikova opened #762 "Memory leak in native image for AWS Lambda"
Max Memory Used keeps increasing when micronaut Serverless application is deployed to AWS Lambda as a native image.

### Steps to Reproduce

1. Follow instructions in official "Deploy a Micronaut function as a GraalVM Native Image to AWS Lambda" guide (https://guides.micronaut.io/mn-serverless-function-aws-lambda-graalvm/guide/index.html)
2. Test the created AWS lambda function multiple times (ste

[2020-11-26 00:05] ttzn commented on #754
I got the same thing when using `./gradlew run`. However I am unable to reproduce using
 SAM CLI, are you sure it also happens in AWS ?

[2020-12-01 16:07] deandelponte commented on #754
I did not deploy to AWS because it wasn't working locally with `gradle run` so it wouldn't be a good experience for our developers.

How do I run it locally with SAM CLI?  Thanks!

[2020-12-01 17:53] ttzn commented on #754
Have a look at [the official installation guide](https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-install.html). Unfortunately the process is quite involved. When you're set, unzip the attached archive somewhere and you should be able to simulate lambda execution with `sam local invoke "HelloWorldFunction" -e api-event.json`.

If you haven't observe

[2020-12-01 17:57] deandelponte commented on #754
Thanks!  You rock!  FYI - it looks like some checks failed on the PR

[2020-12-05 05:19] #754 closed

[2020-12-08 18:00] sskrla opened #790 "Support AWS endpoint overrides via configuration values"
It is occasionally useful to override the endpoint of AWS clients, especially for testing and Fedramp environments.

Specifically, tests similar to the following would benefit from an endpoint configuration value
[code]

[2020-12-12 06:49] kristofvb commented on #321
It looks like adding `PayloadFormatVersion: "1.0"` to the event section of a SAM yaml template is a way to dance around the issue.

[2020-12-12 20:49] besctar commented on #264
Even more.
Right now AWS Console does not allow Lambda Environment variable to have dots in it's name. (only letters, numbers, underscore).
So, in order to define function name in lambda config we need another property name (e.g. micronautFunctionName or functionName).

[2020-12-12 21:14] besctar commented on #264
Workaround working for me:

public class CustomMicronautRequestStreamHandler extends MicronautRequestStreamHandler {
    @Override
    protected String resolveFunctionName(Environment env) {
        return env.getProperty("functionName", String.class, (String) null);
    }
}

[2020-12-15 16:47] blazejkarmelita opened #817 "Micronaut does not use Jackson custom serializer / deserializer for Serverless"
Custom Jackson serializers / deserializers configured with the ObjectMapper are working in Micronaut test but not working when testing with AWS SAM.

The enclosed sample is a working example generated from Micronaut Launcher that has been modified to make it easier to reproduce issue. Changes made are:

1. Book POJO class does not have a public constructor but the static factory method instead

@I

[2020-12-15 20:54] blazejkarmelita commented on #817
Just for your notice.
If I go an old way with @FunctionBean than it works:

@FunctionBean("MyFunction")
public class BookFunction implements Consumer<Book> {
    @Override
    public void accept(Book book) {
        book.getName();
    }
    public class BookHandler extends MicronautRequestStreamHandler {
        @Override
        protected String resolveFunctionName(Environment env) {

[2020-12-17 13:56] blazejkarmelita commented on #18
Hi. Have you manged to find out what is going on with this one? I did the test with the Micronaut Launcher demo for serverless function with the latest Micronaut. When i refactor the generated Book handler to extend MicronautRequestStreamHandler and introduce the @FunctionBean than the lambda execution takes about 8 sec while the original one takes 100 millis.

[2020-12-20 13:09] kristofvb opened #1336 "Conflicting HttpResponseFactory instances"

[2020-12-20 14:27] bsamartins commented on #264
You should be able to use `MICRONAUT_FUNCTION_NAME`.

[2021-01-04 12:47] sdelamo opened #864 "Bump up Jetty server to 11"

[2021-01-05 12:29] kristofvb opened #868 "Request reader does not take into account produces mediatype"
`io.micronaut.function.aws.proxy.MicronautRequestReader#readRequest` selects the route without matching the Accept content type passed by the client with the produces content type of the selected controller method(s).

### Steps to Reproduce

Consider a controller with the following methods

[code]
If a client makes a call and specifies the Accept header it will always return the content produced

[2021-01-07 11:14] ttzn commented on #868
Confirmed. `MicronautRequestReader ` calls `DefaultRouter#find()` and returns the first match between many, while the Netty `RoutingInBoundHandler` uses `findAllClosest` which does filter based on the `Accept` header, and fails in case of multiple matches. Should be easy to streamline, unless there is a good reason for the AWS handler not to have this capability.

[2021-01-15 15:03] RoadRunner120485 opened #881 "MicronautLambdaRuntime swallows exception root cause"
Sorry for not filling the issue template but hopefully it is not necessary for my concern.

I'm running a lambda, with Micronaut, GraalVM and a custom Runtime as supposed in the corresponding example. I've now updated form an Micronaut 1.3.x to 2.2.3 and apart from the fact that the update did not took much effort, in the end my lamda crashed with just the following exception:
[code]

And nothing

[2021-01-15 15:20] graemerocher commented on #881
PRs welcome!

[2021-01-15 18:27] RoadRunner120485 commented on #881
Great :)

[2021-01-23 11:17] athkalia opened #890 "New artifact io.micronaut.aws:micronaut-function-aws-test not in micronaut BOM"
Hello,

It seems like while the new sub-project that contains the new `@MicronautLambdaTest` annotation is available (`io.micronaut.aws:micronaut-function-aws-test:2.3.0`), it's not part of the Micronaut BOM, so you need to declare it's version to import it.

The BOM for `2.3.0` is [here](https://repo1.maven.org/maven2/io/micronaut/micronaut-bom/2.3.0/micronaut-bom-2.3.0.pom)

[2021-01-23 12:30] ttzn commented on #890
My bad, update submitted

[2021-01-23 23:13] turbolaban commented on #207
Apparently `@JsonProperty` works for deserializing and `@field:JsonProperty` works for serializing. So this will give the correct behaviour in both cases:
[code]

[2021-01-25 10:45] #881 closed

[2021-01-26 16:12] alvarosanchez commented on #102
@charlie-harvey I think you are experiencing what is described at #493

[2021-01-26 16:34] alvarosanchez commented on #102
@charlie-harvey actually `SNSEvent` should work: https://github.com/micronaut-projects/micronaut-aws/blob/master/function-aws-custom-runtime/src/main/java/io/micronaut/function/aws/runtime/AbstractMicronautLambdaRuntime.java#L93

If you share an example that reproduces the issue, we can investigate

[2021-01-26 19:13] #890 closed

[2021-01-29 15:44] LtTempletonPeck opened #898 "Cannont build native image with AWS param store due to io.micronaut.discovery.client.DnsResolver"
I am unable to build a native image when the AWS param store dependency `io.micronaut.aws:micronaut-aws-parameter-store` is added to a lambda project due to the build time initialisation of the `DNSResolver`

This can be overcome by adding a runtime initialisation on to the gradle build for the `DnsResolver` class

[code]

@ilopmar suggested on Gitter

### Task List

- [X] Steps to reproduce provi

[2021-01-29 19:34] tburch opened #899 "When Parameter Store is rate limiting, calls are not retried"
If you have a Micronaut CLI app that running at a high level of concurrency on AWS Batch (via an ARRAY job) or Lambda, calls to Parameter Store can be rate-limited (see [this](https://docs.aws.amazon.com/general/latest/gr/ssm.html#limits_ssm) for limits). The limits can be [increased](https://docs.aws.amazon.com/systems-manager/latest/userguide/parameter-store-throughput.html) at an additional cos

[2021-02-01 09:42] alvarosanchez opened #905 "Add support for AWS Cloud Map service discovery"
[AWS Cloud Map](https://aws.amazon.com/blogs/aws/aws-cloud-map-easily-create-and-maintain-custom-maps-of-your-applications/) is a new service discovery service announced at re:Invent 2018.

Docs: https://docs.aws.amazon.com/cloud-map/index.html

[2021-02-05 09:48] pgressa commented on #898
@LtTempletonPeck make sure you're running Micronaut 2.3.0 with GraalVM 21.0.0, plus to eliminate stale classes, run the `clean` task

[2021-02-05 12:54] LtTempletonPeck commented on #898
@pgressa I am and I do. Are you saying it works for you?

[2021-02-05 14:26] ilopmar commented on #898
@LtTempletonPeck I'm able to reproduce the issue. I'll add the runtime initialization to the micronaut-discovery-client module and release a new version.
In the mean time you can keep the workaround.

[2021-02-05 14:54] #898 closed

[2021-02-09 11:58] ivansynyshynkindgeek opened #915 "AWS lambda can not build S3 Client"
Hello

I'm working on AWS lambda that should upload files to S3 bucket. Locally it works fine but when I build native image using Docker and deploy it to AWS lambda there is a problem to build S3Clien. Function to build S3Client looks like:

[code]

this.accessKeyId, this.secretKey - valid values for credentials

Stracktrace looks like:

[code]

Tried this solution: https://github.com/oracle/graal

[2021-02-09 13:14] graemerocher commented on #915
Need to add resource config with:

[code]

[2021-02-10 12:05] ivansynyshynkindgeek commented on #915
Tried this approach with a different versions of resource-config.json file. It resolved an issue with endpoints.json reading but not with versionInfo.properties

I created a public test repo that reproduces an issue: [repo](https://github.com/ivansynyshynkindgeek/files-upload-test)

To build an image it's enough to run ./deploy.sh

AWS lamdba should have valid environment variables AWS_S3_ACCESS_K

[2021-02-11 17:29] jmansiya opened #917 "micronaut-aws-parameter-store exception in native execution"
Hi, I have an exception when I execute my AWS Lambda funcion in Native using this library:

[code]

The exception is:

[code]

You can test this error with this example: [https://github.com/jmansiya/micronaut-ssm-demo](example).
To reproduce the error only need to do:
Execute: deploy.sh

[code]

This AWS Lambda works correctly without native application.

Thanks in advance!

[2021-02-12 08:09] jmansiya opened #918 "ParameterStore - Path Taken: new DistributedPropertySourceLocator. Native"
Hi, I have problems when I execute a simple AWS Lambda function which only take some parameters from Parameter Store with this library:
` <groupId>io.micronaut.aws</groupId>
      <artifactId>micronaut-aws-parameter-store</artifactId>`

When I execute this without do it native this lambda works perfectly, but after cfreate the native application I obtain this error:
`17:12:49.217 [main] INFO  i.m.

[2021-02-12 08:23] alvarosanchez commented on #918
Duplicates #917

[2021-02-12 08:23] #918 closed

[2021-02-19 09:25] ilopmar opened #930 "AWS SDK v2 includes out of the box support for GraalVM"
See https://github.com/aws/aws-sdk-java-v2/pull/2268

The changes are included in version `2.16.1` so we should [upgrade to use it](https://github.com/micronaut-projects/micronaut-aws/blob/2ec0d5a2dfd341e3cd3b5ef288d4e80241163f55/aws-sdk-v2/build.gradle#L2) and release a new minor version of this module. It would be great if we can do it for Micronaut 2.4.

@sdelamo @pgressa do you think any of yo

[2021-02-19 16:20] g3blv commented on #915
@graemerocher is there any update on this issue or is more information needed?

[2021-02-28 10:44] athkalia opened #1333 "Cannot bind raw @Body request on a String type for a lambda function"

[2021-03-01 09:16] pgressa commented on #930
@ilopmar sure, I'll look at it, but hard to say whether I'll make it for 2.4.

[2021-03-01 09:30] ilopmar commented on #930
No worries, if it doesn't make it for 2.4 it will be for 2.5

[2021-03-01 15:56] graemerocher commented on #65
Micronaut JMS project has SQS support, we need documentation in this project that points to it.

[2021-03-01 19:07] pgressa opened #943 "AWS lambda fails on Micronaut 2.4"
Thanks for reporting an issue, please review the task list below before submitting the
issue. Your issue report will be closed if the issue is incomplete and the below tasks not completed.

NOTE: If you are unsure about something and the issue is more of a question a better place to ask questions is on Stack Overflow (https://stackoverflow.com/tags/micronaut) or Gitter (https://gitter.im/micronaut

[2021-03-02 08:58] pgressa commented on #943
For Micronaut 2.3 the configuration works. For Micronaut 2.4 the memory has to be increased to 512. There's some memory regression in Micronaut 2.4

[2021-03-02 13:25] #930 closed

[2021-03-02 13:38] pgressa commented on #915
@g3blv @ivansynyshynkindgeek for the micronaut 2.4 we use newer version of aws sdk that has brings graalvm native support directly in the aws sdk module

[2021-03-02 15:08] pgressa commented on #917
@jmansiya since #944 with 2.4.0-SNAPSHOT version Micronaut uses aws sdk that has native support included. See this example app https://github.com/micronaut-graal-tests/micronaut-aws-sdk2-graal/tree/2.4.x_paramstore . Please gives us feedback whether everything now works for you. Thanks

[2021-03-02 15:11] pgressa commented on #493
#944 should fix this.

[2021-03-02 16:15] #493 closed

[2021-03-02 16:17] pgressa commented on #915
@g3blv closing this one, re-open when you'll find out the issue persists.

[2021-03-02 16:17] #915 closed

[2021-03-04 10:38] vilunet commented on #18
I have the same behavior - Can't believe why Micronuat is not that great with Lambda as it claims.

[2021-03-04 14:05] pgressa commented on #899
@tburch there's PR #945 where the aws sdk v2 is used to access parameter store. With aws sdk v2 you can configure the client policies, etc, see https://micronaut-projects.github.io/micronaut-aws/latest/guide/#advancedConfiguration

[2021-03-04 14:25] #917 closed

[2021-03-04 14:27] pgressa commented on #497
@etnishiyama @dgbmariano could you please share some example so I can replicate the issue and provide proper fix. Or maybe describe in more depth the context of the issue. I understand that it's happening in K8s only?

[2021-03-04 23:42] jmansiya commented on #917
Hi, sorry I've been a few days without internet. I tried this but I have the same exception. I've push the changes to use 2.4.0-snapshot in the  https://github.com/jmansiya/micronaut-ssm-demo repo.

Do I have to create a new ticket??
Thanks!!

[2021-03-05 08:42] ilopmar commented on #917
@jmansiya I'm not able to try your sample app because errors in credentials. In any case I've seen that you are not using the right version for all micronaut-aws depedencies.
Can you please tried adding `<micronaut.aws.version>2.4.0-SNAPSHOT</micronaut.aws.version>` to the `properties` section in your bom and try it again?

In the mean time, as @pgressa said, we have included the aws v2 sdk that s

[2021-03-05 09:59] #899 closed

[2021-03-05 10:57] ilopmar commented on #917
@jmansiya I've updated [our test application](https://github.com/micronaut-graal-tests/micronaut-aws-sdk2-graal/tree/2.4.x_paramstore) and it works as a native image locally and when deploying it to AWS Lambda. If you have issues with your app, please compare it with ours.

[2021-03-07 21:39] ttzn commented on #943
Did you try increasing memory with smaller increments ? I quickly tested your example app both in AWS and locally with SAM, and both versions 2.3.2 and 2.4.0-SNAPSHOT fail with OOM at 256MB. 2.3.2 starts succeeding at around 275MB and 2.4.0 at 280MB, so it doesn't look too worrying from what I can tell.

[2021-03-08 09:47] pgressa commented on #943
Well for me lambda works with micronaut 2.3. Didn't try to increase memory with smaller increments, can try to do that.

[2021-03-08 14:52] dgbmariano commented on #497
Sorry for not updating. I've tried to reproduce locally but I couldn't. The maximum that I could get I described in the description. The enviromnents are: [k8s, cloud, ec2, prod].
Also, we upgraded the micronaut version some months ago and we are not getting this error anymore. Maybe we could close this issue now. Sorry for not updating!

[2021-03-08 15:50] pgressa commented on #497
Hi @dgbmariano no worries. Ok so I'm going to close this issue now. If you or @etnishiyama will experience this issue once again, please open new issue, ideally with simple example in github. To easily create reproducer in github use the launcher https://micronaut.io/launch/ .. it has the button push-to-github and even the dekorate feature for k8s deployment.

[2021-03-08 15:50] #497 closed

[2021-03-10 14:54] #208 closed

[2021-03-10 14:54] #761 closed

[2021-03-10 14:54] #136 closed

[2021-03-10 14:55] #868 closed

[2021-03-14 11:55] rscharer opened #966 "MicronautLambdaContainerHandler.decodeRequestBody does not support MediaType.APPLICATION_FORM_URLENCODED"
I don't know whether this was ever intended to work correctly, but I burned a number of hours trying to figure out why my @Controllers that consume MediaType.APPLICATION_FORM_URLENCODED could not parse @Body parameters. Eventually I traced it back to the fact that MicronautLambdaContainerHandler.decodeRequestBody explicitly only handles JSON, despite the fact that @Client interfaces which produce

[2021-03-15 16:00] pgressa opened #972 "Use AWS sdk v2 in aws-route53 and function-client-aws"
As sooner or later sdk v1 will be deprecated. Plus the support for v2 is much more powerful allowing users to configure the clients etc.

[2021-03-16 14:37] fpinto-chwy commented on #459
I'm experiencing the same issue above. Was this issue addressed and/or a solution provided?

[2021-03-18 08:43] sdelamo opened #990 "Document correctly IntentHandler annotation"
Currently, `@IntentHandler` annotation is broken.

[2021-03-18 08:44] sdelamo opened #991 "Move aws-parameter-store-annotation example to guide"
Currently the sample app for aws-parameter-store-annotation` does not test any functionality. I am going to move it to `micronaut-guides-poc` repo.

[2021-03-18 10:55] #325 closed

[2021-03-19 08:42] OlehTsivanTR commented on #234
Hi, it looks like we can propagate it through the 'setProperty()' now. Could we consider this approach?

https://github.com/aws/aws-xray-sdk-java/pull/252

[2021-03-22 11:46] sdelamo commented on #459
@fpinto-chwy can you provide a sample app. I have this Micronaut Lambda Handler which consumes a SNS and it works fine: https://github.com/microchatbots/lambdal337sns

[2021-03-22 15:29] sdelamo commented on #234
thanks @OlehTsivanTR I am going to check it.

[2021-03-30 09:24] sdelamo opened #1006 "Support AWS Secret Manager"
https://aws.amazon.com/secrets-manager/

Probably similar to our support for AWS parameter store.

[2021-04-05 10:34] sdelamo opened #1021 "Document how to change the log level for AbstractMicronautLambdaRuntime"
Logs for AbstractMicronautLambdaRuntime don't use SLF4J and use LambdaLogger which uses System.out.println. By default we log only WARN but we have a protected method which is easy to override

[code]

https://micronaut-projects.github.io/micronaut-aws/latest/guide/#customRuntimes

[2021-04-05 15:50] #991 closed

[2021-04-08 13:12] sdelamo opened #1024 "Investigate replacing our custom polling of Lambda Runtime API"
with: https://github.com/aws/aws-lambda-java-libs/tree/master/aws-lambda-java-runtime-interface-client#aws-lambda-java-runtime-interface-client

see: https://mark-sailes.medium.com/opening-sourcing-the-aws-java-runtime-interface-client-144ecdb70671

[2021-04-10 17:09] deepakthankachan commented on #762
Having the same issue. Getting memory error on 4th request every time

[2021-04-10 17:30] deepakthankachan commented on #762
removing the -Xmx128m option from bootstrap fixed the issue for me

https://github.com/micronaut-projects/micronaut-starter/issues/322

[2021-04-11 11:37] sdelamo commented on #1024
I have created a sample app to verify if we can use [AWS Lambda Java Runtime Interface Client](https://github.com/aws/aws-lambda-java-libs/tree/master/aws-lambda-java-runtime-interface-client)

instead of [Micronaut AWS custom runtime](https://github.com/micronaut-projects/micronaut-aws/tree/master/function-aws-custom-runtime).

I have added the GraalVM configuration in [AWS PR #235](https://githu

[2021-04-14 10:22] ilopmar commented on #1024
The flag `--allow-incomplete-classpath` is already included in [micronaut-inject](https://github.com/micronaut-projects/micronaut-core/blob/4e35cd2e5eff534c8d6c9d82c115a97ee366a9e1/inject/src/main/resources/META-INF/native-image/io.micronaut/micronaut-inject/native-image.properties#L17) so no need to add it again.

I don't know why the native image fails with `org.grails.datastore.mapping.validati

[2021-04-14 10:57] ilopmar commented on #1024
@sdelamo I've done a few more tries. Last week we had this error when running in AWS:

[code]

The error now is clear and what happens is that we need to include `glibc.so` and `musl.so` in the native image resources file:

[code]

Now, when that configuration added, when we run again in Lambda it finds the library and all the JNI calls are executed and we go to the rabbit hole of adding a lot of

[2021-04-14 17:55] mrdanp opened #1032 "Error building native image with rdsdata dependency"
I'm currently playing with micronaut, aws lambda and the Data API (aurora serverless).
Packaging the application as a JAR and deploying to aws lambda works fine. But building a native image fails

### Task List

- [ x] Steps to reproduce provided
- [ x] Stacktrace (if present) provided
- [ x] Example that reproduces the problem uploaded to Github
- [ x] Full description of the issue provided (see

[2021-04-14 22:24] mrdanp commented on #1032
It worked after I upgraded GRAALVM to 21.0.0.2. My apologies for trying that sooner.

[2021-04-14 22:24] #1032 closed

[2021-04-29 09:33] kieranjen opened #1042 "Parameter store as Cloud Config not working in native image on AWS Lambda"
I am trying to use the parameter store feature explained in the documentation [here](https://micronaut-projects.github.io/micronaut-aws/latest/guide/#parametersStore). When building the application as a native image and trying to run on AWS Lambda, I get an error on startup.

### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [x] Example that reproduces the p

[2021-04-29 09:41] mutyasaisrikar opened #1043 "Make MicronautLambdaContainerHandler a non final class to enable extending"
I am trying to understand why MicronautLambdaContainerHandler was made as a final class?

I am trying to have a log for requests and responses. The idea for achieving this to do something like this

[code]

Is there any other way to do this?

[2021-04-29 15:58] bhimsenp opened #1044 "MicronautLambdaAuthenticationFetcher creates empty map instead of null if claims are absent"
In current implementation of MicronautLambdaAuthenticationFetcher, different types of Authentication objects are returned depending on existence of authorizer in API gateway.

At two places when claims are absent, instead of creating Authentication object with null claims, it creates empty map.

### When authorizer is present:
[code]

### When authorizer is absent:
[code]

Problem caused because o

[2021-05-09 05:23] markus-seidl opened #1054 "Micronaut doesn't handle API Gateway path parameters, like {proxy+}"
### Steps to Reproduce

1. Create an Graal AWS Custom Runtime example (features: graalvm, aws-lambda, aws-lambda-custom-runtime)
2. Create a simple GET function with any request path
2. Upload it to an AWS Lambda function
2. Create an API Gateway with a method using "{proxy+}", link it to the Lambda function
   * It's allowed to use variables https://docs.aws.amazon.com/apigateway/latest/developer

[2021-05-11 21:46] tburch commented on #1006
@sdelamo if you have an outline of how you envision this working, I'd be happy to help with a PR.

[2021-05-12 05:27] markus-seidl commented on #1054
Excerpt from the Micronaut trace-log

[code]

In my understanding, the path should be used from the "path" variable, not the "request" variable.

[2021-05-12 12:21] dstepanov commented on #1054
Micronaut has a different syntax: ‘/{+path}’

[2021-05-12 15:20] markus-seidl commented on #1054
I do not understand, @dstepanov . AWS Lambda uses the {proxy+} syntax, how does Micronaut use a different syntax?

[2021-05-12 15:50] dstepanov commented on #1054
I see now, the problem is not on your side but anyway you would need to have something like `/books/{+path}` in your controller to match all.

@pgressa @sdelamo @graemerocher  Looks like `{proxy+}` parameters are not properly replaced.

[2021-05-12 15:55] markus-seidl commented on #1054
I'm adding this, because I don't know if we are speaking of the same thing.

If you've create any Micronaut function(s):

[code]

And don't want to specify every one of these explicitly in the AWS API Gateway, it's possible to create a gateway for "/{proxy+}", which is then passed to Micronaut.

Is it necessary to specify every method the exact same way in AWS API Gateway as in Micronaut?

[2021-05-12 16:31] dstepanov commented on #1054
No, that should be fine. Only `MicronautRequestReader.readRequest(MicronautRequestReader.java:80)` needs to be corrected.

[2021-05-16 09:56] sdelamo commented on #1006
@tburch I am working on this PR: https://github.com/micronaut-projects/micronaut-aws/pull/1056

[2021-05-16 10:35] sdelamo commented on #1006
@tburch I am writing a guide as well: https://github.com/micronaut-projects/micronaut-guides/pull/239

[2021-05-18 21:21] hchang-chwy commented on #102
I had similar issue as @charlie-harvey when using
[code]
and I was getting Null SQSEvent at https://github.com/micronaut-projects/micronaut-aws/blob/master/function-aws-custom-runtime/src/main/java/io/micronaut/function/aws/runtime/AbstractMicronautLambdaRuntime.java#L331

The issue seems related to
https://github.com/aws/aws-sdk-java/issues/1888
https://github.com/aws/aws-lambda-java-libs/issues/

[2021-05-19 16:53] dstepanov commented on #1054
I see there are tests for `{proxy+}`. https://github.com/micronaut-projects/micronaut-aws/blob/b428b32f7dbb67a44947fff86ab36765f47ffcf5/function-aws-api-proxy/src/test/java/io/micronaut/function/aws/proxy/MicronautAwsProxyTest.java

This must be some special scenario.

[2021-05-19 17:50] KnutKnutson opened #1069 "Protobuf not decoded and deserialized and passed to controller"
### Task List

- [x] Steps to reproduce provided
- [na] Stacktrace (if present) provided
- [x] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Controller that receives a protobuf message
2. pass a APIGatewayProxyRequestEvent with a base64 encoded protobuf message to the MicronautLambdaContainerHandler
3. re

[2021-05-22 13:16] markus-seidl commented on #1054
I've debugged this further in AWS. It seems for the route "/" (the API Gateway has "/{proxy+}" the pathParameters variable is empty, which causes Micronaut to fail. This is equivalent to remove the `request.setPathParameters(...` line in the test above, which also fails in that case.

API Gateway Test Console Log

[code]

Result

[code]

As you can see "pathParameters" is null for path "/".

[2021-05-26 06:49] mayurtanna opened #1077 "Include Null Value Keys In Response from Micronaut AWS serverless Function"
I have a Micronaut serverless function deployed on AWS lambda.

By default, it is excluding the null values from response but I need them. I tried following ways to solve the issue but no luck.

### Solution Tried

- Added below in application.yml
  jackson: serializationInclusion: ALWAYS

- Added @JsonInclude(JsonInclude.Include.ALWAYS) on POJOs which are getting sent in response.

- Tried to ove

[2021-05-28 16:02] charlie-harvey opened #1078 "MicronautRequestHandler not picking up test context from @MicronautTest"
[code]

[code]
No `test` environment. That's ok. The test class does not have an annotation.

[code]

[code]
Now the context seems to be starting 3 times! Once for `test` and then twice for `[function, lambda]`.

Let's add constructors to our Handler so we can pass in an `applicationContext` and see if that make a difference:
[code]
[code]

One better! We are not starting the `[function, lambda]`

[2021-05-29 13:48] mayurtanna commented on #186
@alvarosanchez - I am facing something similar issue for response where I am trying to override ObjectMapper configuration to return null value keys in the response. Here is the bug link: https://github.com/micronaut-projects/micronaut-aws/issues/1077. Can you please help ?

[2021-05-30 09:33] dynaxis opened #1079 "Support Kotlin coroutine out of the box in function apps"
Different from the plain Micronaut apps, function apps running on the AWS Lambda don't recognize suspend functions in controllers. It would be good if suspend functions are recognized out of the box in the same way as the plain Micronaut apps.

I at least hope to know if it's not and won't be implemented for any good reason. If that's not the case, I might step in to implement it and contribute ba

[2021-05-31 12:02] alvarosanchez commented on #186
@mayurtanna sorry but I'm no longer actively working on Micronaut. Someone else from @micronaut-projects/core-developers should be able to help.

[2021-06-01 09:22] sdelamo opened #1084 "NPE .AwsProxySecurityContext.getAuthenticationScheme("
# Steps to reproduce

Create an app at [Micronaut Launch](https://micronaut.io/launch)

- Application type: Application
- Features: aws-lambda

Create a controller which returns Hello World:

[code]

Generate a Fat JAR and upload it to the AWS Console. Add a API Gateway HTTP API with security `Open`.

Set as handler `io.micronaut.function.aws.proxy.MicronautLambdaHandler`

Invoke the api and you g

[2021-06-01 10:23] #1084 closed

[2021-06-01 15:13] #234 closed

[2021-06-03 09:25] sdelamo commented on #1079
https://twitter.com/dynaxis/status/1398923811303477253?s=20

@dynaxis

@graemerocher

@dynaxis

@dynaxis

@graemerocher

@dynaxis

[2021-06-05 10:52] mayurtanna commented on #186
@alvarosanchez okay, no worries. Thank you.

@sdelamo - Hi, would you be able to help please ?

[2021-06-07 04:17] mayurtanna commented on #1077
@sdelamo Can you please help here ?

[2021-06-07 09:10] #1006 closed

[2021-06-08 10:44] pgressa opened #1091 "Support AWS in Micronaut MuShop Showcase"
Support AWS deployment in https://github.com/pgressa/oraclecloud-cloudnative

[2021-06-09 13:41] charlie-harvey opened #1092 "@MockBean does not work with MicronautRequestHandler"
This is closely tied to [1078](https://github.com/micronaut-projects/micronaut-aws/issues/1078). The `MicronautRequestHandler` creates its own `ApplicationContext`, even during tests, even when it is passed into the constructor. I am guessing here, but I think that is the reason that `@MockBean` is not working at all. I have tried this many ways but nothing that I mock is actually used.

[code]
No

[2021-06-09 14:22] graemerocher commented on #1092
See `@MicronautLambdaTest` https://github.com/micronaut-projects/micronaut-aws/pull/748/files#diff-bd3df2b9cf70207525dd0e61a861ad6f7b2b42381e360326fb992052da8ea5e5R12-R26

[2021-06-09 14:37] graemerocher commented on #1092
Docs https://micronaut-projects.github.io/micronaut-aws/latest/guide/#lambdaTesting

[2021-06-09 15:35] charlie-harvey commented on #1092
[code]

Does this only work for JUnit? I am using Kotest. I thought it would work.

[2021-06-09 15:42] graemerocher commented on #1092
looks like it is JUnit 5 extension

[2021-06-11 02:54] charlie-harvey commented on #1092
Made it work with my current setup and Kotest:
[code]

Just have to make sure my `AwesomeHandler.awesomeService` property isn't private.

I still think 1078 (https://github.com/micronaut-projects/micronaut-aws/issues/1078) is a problem though. I tried this the JUnit way for quite some time. It _still_ doesn't accept the `applicationContext` I pass into the constructor. I actually don't think it is

[2021-06-11 02:54] #1092 closed

[2021-06-14 10:49] joerowe opened #1098 "@MockBean not injecting in Controller tested with @MicronautLambdaTest"
I have a simple Micronaut Lambda Application and have found that the `@MockBean` annotation does not cause mocks to be injected in to my classes under test when using MicronautLambdaTest annotation.

## Steps to Reproduce
Create a lambda application with the following setup:

build.gradle
[code]

With the following basic Controller
[code]

And the following test class:
[code]

## Expected Behaviou

[2021-06-17 07:56] ilopmar opened #1099 "Release a new version compatible with Micronaut 3.0"
Please follow the instructions in https://github.com/micronaut-projects/micronaut-core/issues/5607 and update that core issue with the information related to the upgrade.

[2021-06-17 13:09] sdelamo opened #1100 "aws links to lambda guides are broken"
@graemerocher

the GraalVM ones just go to the guides site and the other direct language ones take you to the page to select the language again

[2021-06-18 12:54] athkalia opened #1101 "io.micronaut.http.server.exceptions.InternalServerException: No request present for @MicronautLambdaTest test"
Hello,

It seems like testing for some scenarios isn't possible for controllers that use the new @MicronautLambdaTest annotation (this is a lambda Micronaut application).

Here's an example

Controller:

[code]

test:

[code]

When running the test I am getting

[code]

### Environment Information

- **Operating System**: Windows
- **Micronaut Version:** 2.5.6
- **JDK Version:** jdk 1.8

[2021-06-24 17:25] pgressa opened #1106 "Add support for Secret Manager for RDS instance"
When creating Secret for RDS with autorotate feature the secret is created in format:
![Screenshot 2021-06-24 at 19 04 20](https://user-images.githubusercontent.com/1838702/123306845-143bcd80-d522-11eb-88a1-846ac6c214c5.png)

From Micronaut perspective there's no way how to adjust the secret key name so it would respect the micronaut context path like `datasources.default.username` so it would be

[2021-06-28 20:45] geertvanheusden commented on #102
With the pointers above and some additional trial and error, I was finally able to get it to work:

The ObjectMapper can be registered using a BeanCreatedEventListener (described on https://micronaut-projects.github.io/micronaut-aws/2.0.0.M1/guide/index.html#apiProxy if you look for ObjectMapper):

[code]

As you can see I also had to register the JodaModule to the ObjectMapper and add the require

[2021-06-29 13:34] pgressa opened #1109 "Extend documentation by minimum permissions needed for AWS Secret Manager and AWS Parameter Store"
Secret manager - https://docs.aws.amazon.com/mediaconnect/latest/ug/iam-policy-examples-asm-secrets.html#iam-policy-examples-asm-secrets-all
Parameter store - https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-paramstore-access.html

[2021-07-09 09:40] danielbrasilrj commented on #1098
Have you tried changing your runtime to netty?

micronaut {
    runtime("netty")
    testRuntime("junit5")
    ...
}

[2021-07-15 10:10] pgressa opened #1116 "AWS SecretManager documentation bug"
The documentation says:

![Screenshot 2021-07-15 at 12 07 26](https://user-images.githubusercontent.com/1838702/125770810-06d5fffc-6d1e-4e43-a913-9564bc7cdade.png)

Based on that I have configured the secret name: `/config/application`

However the secrets were not resolved:
[code]

However when the secret name was with a slash at the end: **/config/application/** it worked out:
[code]

I think th

[2021-07-21 08:47] joerowe commented on #1098
Hey, no I haven't. I stopped using Mocks in @MicronautLambdaTest classes instead :sweat_smile:

[2021-07-23 16:45] samuel-bach commented on #1054
I have the same problem. As long as this is not fixed it looks like there is no way to use a Micronaut app on Lambda with AWS Gateway...

[2021-07-29 11:34] sdelamo commented on #1054
As I understand the issue is that for /{proxy+} the root path `/` does not work.

I have created the following steps to reproduce the issue. @markus-seidl , please correct me if I miss understood you).

## Steps to reproduce:

- Create an application in [Micronaut Launch](https://micronaut.io/launch?javaVersion=JDK_11&lang=JAVA&build=GRADLE&test=JUNIT&name=demo&package=com.example&type=DEFAULT&fea

[2021-07-29 11:55] sdelamo commented on #1054
I don't think if it is a Micronaut bug. I deployed the API with the following resources configuration:

<img width="225" alt="Screenshot 2021-07-29 at 13 23" src="https://user-images.githubusercontent.com/864788/127486826-1999e7e2-2ace-4470-a6c2-9e8d4e7ad42e.png">

And If I invoke the API curl -i https://ngmis5e6ra.execute-api.us-east-1.amazonaws.com/prod/

I get:
[code]

[AWS docs](https://aws.am

[2021-07-29 11:59] #1054 closed

[2021-07-29 12:52] sdelamo commented on #1077
@mayurtanna I am going to check this now.

[2021-07-29 16:02] markus-seidl commented on #1054
@sdelamo Your experience is much better than mine. But I've tried it with 2.5.0, and which version did you use?
In my case it didn't even work for non-root paths, as the parsing (I'm guessing here) didn't correctly work for the "{proxy+}" case. Which has additional parameters in different fields when AWS calls the lambda, in contrast to "normal" paths like "/hello".

I can't confirm the findings f

[2021-07-29 19:28] sdelamo commented on #1054
I have used 2.5.11

[2021-07-30 06:18] sdelamo commented on #1077
If you have a function which returns a POJO such as:

[code]

and you want to receive a JSON which includes nulls:

[code]

You have several options:

**Annotation in the field**

Using `@JsonInclude(JsonInclude.Include.ALWAYS)` annotation in the field:

[code]

**Via Configuration**

You could use configuration such as:

_src/main/resources/application.yaml_
[code]

**Or Listen for the creation o

[2021-07-30 06:18] #1077 closed

[2021-08-03 10:30] #1100 closed

[2021-08-03 21:30] hchang-chwy commented on #1098
@danielbrasilrj @joerowe I ran into the same today and seems like the Service needs to be an interface instead of actual implementation. I had to declare classes as below to resolve the issue

[code]

then in the test do
[code]

[2021-08-05 19:57] hchang-chwy commented on #1042
Seems to be related to `AWSParameterStoreConfiguration` where it extends `AWSClientConfiguration` from aws sdk v1 lib which is by nature not compatible with native image.

[2021-08-05 21:36] graemerocher commented on #1042
There is a PR waiting on @sdelamo https://github.com/micronaut-projects/micronaut-aws/pull/1060

[2021-08-06 13:34] hchang-chwy commented on #1042
Per https://arnoldgalovics.com/tackling-java-cold-startup-times-on-aws-lambda-with-graalvm/, I was finally able to fix the issue by adding below files under src/main/graal

resource-config.json
[code]

reflect.json
[code]

[2021-08-06 13:52] graemerocher commented on #1042
@ilopmar maybe we should include the above config until the PR @sdelamo has assigned to him is dealt with?

[2021-08-06 13:58] ilopmar commented on #1042
We do have support for ParameterStore but using SDK v2 (which includes it out of the box). This is our test application: https://github.com/micronaut-graal-tests/micronaut-aws-sdk2-graal/tree/2.5.x_paramstore

[2021-08-06 14:42] graemerocher commented on #1042
So what is #1060 for?

[2021-08-06 14:46] ilopmar commented on #1042
@sdelamo can confirm it but I think that PR adds support for use Parameter Store as a Distributed Config provider in Micronaut.

[2021-08-09 05:58] sdelamo commented on #1042
#1060 is share logic for both distributed configuration solutions AWS Parameter store and AWS Secret Manager.

[2021-08-11 14:15] sdelamo opened #1147 "document @FunctionClient"
### Issue description

Most of the [@Function Client](https://docs.micronaut.io/1.3.7/guide/index.html#serverlessFunctions) documentation was rewritten/deleted in Micronaut 2. We should document the parts still relevant in the AWS module.

[2021-08-12 15:07] sdelamo opened #1149 "Document MicronautStreamHandler and @FunctionBean"
### Issue description

It is currently not documented.

[2021-08-13 19:30] mayurtanna commented on #1077
@sdelamo  Thanks for working on this.

Your solution seems to be working except that I am getting the following error when using MicronautStreamRequestHandler in my project. I am using mongo-sync for mongodb connectivity.

Any pointer on this ?

Connection pool shut down: java.lang.IllegalStateException
java.lang.IllegalStateException: Connection pool shut down
	at org.apache.http.util.Asserts.che

[2021-08-16 08:33] sdelamo commented on #1077
@mayurtanna Please, create a different issue with a reproducible example. I don't know how to help you with the above info.

[2021-08-16 11:28] Holophrasis-uk opened #1150 "Parameter Store config client IAM permissions, environments and application startup issue"
### Issue description

When deploying an app to Elastic Beanstalk the Micronaut environments are set to ec2, cloud along with any others specified (in this case uat).

This causes the config client to look for parameters under application, application_<env>, appname, appname_<env> as documented.

The problem arises when setting the permissions for the ec2 role and access to the parameter store. If

[2021-08-16 19:06] mayurtanna commented on #1077
@sdelamo Okay. I will. Thank you.

Can you confirm following things please ?

1. Do we documentation for MicronautStreamHandler and @functionalbean? I didn't find it anywhere.  If you have any reference, please share.
2. Can we use MicronautStreamHandler with mongodb-sync or we need to use mongo-reactive ?

[2021-08-17 04:53] #1149 closed

[2021-08-17 06:10] sdelamo opened #1153 "Discovery client function name incorrectly resolved for @FunctionClient when function-name is set via configuration"
### Expected Behavior

When you specify a `function-name` via the property `aws.lambda.functions.*.function-name`, the function name used for discovery client is correctly resolved.

### Actual Behaviour

[code]

### Steps To Reproduce

Create an `@FunctionClient` such as:

[code]

and configuration such as:

[code]

### Environment Information

- MacOS BigSur 11.5.1

### Example Application

_No

[2021-08-17 09:37] #1153 closed

[2021-08-17 11:15] sdelamo commented on #1077
see:

https://micronaut-projects.github.io/micronaut-aws/latest/guide/#lambdaStreamHandler

i don't know your Lambda code relates to MongoBD. I don't know how to answer you question.

[2021-08-17 11:38] #1147 closed

[2021-08-17 19:53] mayurtanna commented on #1077
@sdelamo  Thanks for the link of the document. And I apologize for the confusing language. Actually, we have a lambda function that inserts data in mongo db. It is working fine when I use MicronautRequestHandler but gives connection pool error when using MicronautRequestStreamHandler which is really weird. It might be due to some conflicts with SSMClient or something else that is closing the conne

[2021-08-18 21:36] sdelamo commented on #1077
That it is strange that it works with `MicronautRequestHandler`but it does not with `MicronautRequestStreamHandler`

[2021-08-20 06:44] sdelamo commented on #1150
If I understand correctly, the issue is that you are forced to write a more verbose policy. Could you past here the JSON policy you are forced to create and what you would ideally want.

[2021-08-20 11:45] Holophrasis-uk commented on #1150
[code]

I'm not very good at specifying the correct policies and tend to add too many '/' and '*'s.

The problem I found was that I needed to specify '_cloud', '_ec2', 'application' etc even if they are not being used (there are only parameters under adv2_uat/). I didn't want to use 'adv2*' as that would pull back other environment that this role/policy should not have access to (prod etc).

It's

[2021-08-20 13:37] sdelamo commented on #1150
I will check this the week September the 30th.

[2021-08-24 04:48] rnielsen opened #1164 "String POST parameters get populated with full body"
### Expected Behavior

A POST method like

[code]
when invoked with a body of `{"a":"A","b":"B","c":"C"}` should populate parameters a and b with A and B respectively.

### Actual Behaviour

a and b are both being populated with the full JSON body. eg  `{"a":"A","b":"B","c":"C"}`

Changing build.gradle to runtime('netty') instead of runtime('lambda') produces the expected result.

### Steps To Rep

[2021-08-25 15:44] vmj opened #1166 "After upgrading to Micronaut 3, Internal Server Error when request is not authorized"
### Expected Behavior

Micronaut application with `micronaut-security`, when running on Lambda runtime, should respond with 401 or 403 when the authentication of the request fails.

### Actual Behaviour

After upgrading to Micronaut 3, it responds with 500.

### Steps To Reproduce

(See [example app](https://github.com/vmj/mn-aws-issue-1166) where steps 1-3 have already been taken, and you only ne

[2021-08-29 23:46] jmktam opened #1167 "NPE when returning status code 207 MULTI_STATUS with AWS ALB"
### Expected Behavior

HTTP/1.1 207 Multi Status

### Actual Behaviour

HTTP/1.1 500 Internal Server Error

[code]

### Steps To Reproduce

1. Create a mn app: `micronaut/2.4.2/bin/mn create-app --features=aws-lambda,aws-lambda-custom-runtime,shadeddd example.micronaut.micronautguided --build=maven --lang=java`
2. Return a status of 209 MULTI_STATUS
[code]
3. Deploy app as AWS Lambda (java8 runtim

[2021-09-01 08:51] sdelamo opened #1171 "Disabling environment deduction does not work with Lambda"
### Expected Behavior

I expected environment to be just `ec2`

### Actual Behaviour

environments are `ec2` `cloud` `function` `lambda`

### Steps To Reproduce

Create a Lambda function with the following environment variables:

- `MICRONAUT_ENVIRONMENTS` to `ec2`
- `MICRONAUT_ENV_DEDUCTION` to `false`

### Environment Information

_No response_

### Example Application

_No response_

### Versio

[2021-09-01 08:59] sdelamo commented on #1171
If micronaut-projects/micronaut-core#6077 gets merged, I plan to `LambdaApplicationContextBuilder` to:

[code]

[2021-09-01 13:38] jaecktec opened #1172 "include AMI launch index value in instance metadata"
### Feature description

As a user that has jobs running
I want to limit the jobs to be only executed on one instance
So that I don't have conflicts with my jobs

For that the [ami-launch-index](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AMI-launch-index-examples.html) would be very useful.

[2021-09-01 14:44] jaecktec commented on #1172
there is no property source resolver at all like the [spring](https://github.com/spring-cloud/spring-cloud-aws/tree/8d1675bd900071094ed92e638e8ff2ca093a6633/spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/env/ec2)  version. or am I missing something?

[2021-09-01 15:21] graemerocher commented on #1172
This kind of stuff is resolved different via https://github.com/micronaut-projects/micronaut-aws/blob/master/aws-common/src/main/java/io/micronaut/discovery/cloud/aws/AmazonComputeInstanceMetadataResolver.java

[2021-09-02 11:46] sdelamo commented on #1164
I always create POJOs to encapsulate the body payloads.

@rnielsen this is a workaround  which will work for you:

[code]

[code]

[2021-09-02 15:57] #1164 closed

[2021-09-05 10:42] mayurtanna commented on #1077
@sdelamo  Yes and I think the problem is with the StreamFunctionExecutor class's execute method which is getting called internally when we use MicronautRequestStreamHandler. In the execute method it is closing the applicationContext in finally clause which seem to be destroying MongoClient and hence we are getting this exception regarding connection on next request. Is this understanding correct ?

[2021-09-06 11:57] sdelamo commented on #1077
do you mind if we move this to a [discussions](https://github.com/micronaut-projects/micronaut-aws/discussions) to keep the history of this issue as clean as possible?

[2021-09-06 12:08] sdelamo commented on #1150
@Holophrasis-uk something to try is to disable environment deduction and remove any environment you don't use:

You could specify these two environment variables directly in Elastic Beanstalk Configuration:

`MICRONAUT_ENVIRONMENTS` to uat
`MICRONAUT_ENV_DEDUCTION` to false

However, it may not work because  I think some of our features require `ec2` environment to be present.

I think what we hav

[2021-09-08 08:25] Holophrasis-uk commented on #1150
Thanks for the update. The AWS parameter store client requires the ec2 env (which I'm not sure is the 100% correct behaviour? Maybe should only require that it has a config and is enabled? If you only want it for ec2 environments then you have that config in the bootstrap-ec2.yml. The ec2 environment probably controls other behaviour in Micronaut).

I think your solution of the user specifying the

[2021-09-10 02:59] hchang-chwy commented on #1098
@joerowe I ran into the same and it seemed like `@MockBean(Service.class)  Service service()` was called in 2 times

1. When Service is injected to application context.
2. When service.doSomething() is called.

In both cases, `@MockBean(Service.class)  Service service()` returned new mock object. The test failed was very likely due to the mock object created in #1 was never reached as #2 was using

[2021-09-23 19:11] lightbody opened #1183 "Environment deduction is unreliable in ECS Fargate"
### Expected Behavior

The code in question is here, it seems:

[code]

Basically, we are finding in the real world in the last week or so this will return true or false seemingly randomly. I suspect the underlying infrastructure is getting shifted around behind the scenes.

Regardless, I would expect that in all forms of ECS the auto-detection for `AMAZON_EC2` works, or a new `AMAZON_ECS` option

[2021-09-24 18:32] drew-corporate-creations opened #1184 "Cant not deserialize request to HttpRequest<String> when deployed in lambda with API Gateway"
### Expected Behavior

This works locally using the netty server. However it does not work when deployed in lambda with API Gateway.

Using a post method in a controller:

[code]

My goal is to get the body of the request as a string. Expected behavior is a 200 response with logging lines showing the request body.

### Actual Behaviour

Below is the stack trace in CloudWatch for when I post with a

[2021-09-25 19:52] #1099 closed

[2021-09-28 04:31] sdelamo opened #1187 "MicronautStreamHandler closes MongoClient after processing request which is undesirable"
### Discussed in https://github.com/micronaut-projects/micronaut-aws/discussions/1177

<div type='discussions-op-text'>

<sup>Originally posted by **mayurtanna** September 11, 2021</sup>
Hi @sdelamo

Like I mentioned in the issue https://github.com/micronaut-projects/micronaut-aws/issues/1077, when I use MicronautRequestStreamHandler, it seems to be destroying the MongoClient (so ultimately connec

[2021-09-28 04:44] sdelamo commented on #1187
@mayurtanna I've created a PR that I think it fixes the issue.

[2021-10-04 14:33] #1187 closed

[2021-10-05 07:51] sdelamo commented on #1184
can you provide an example app which reproduces?

[2021-10-05 16:46] drew-corporate-creations commented on #1184
https://github.com/drew-corporate-creations/demo

I Created a demo app using micronaut launch, added 2 post methods to the controller, then added a cloud formation file and deployment script. To deploy it, run ./deploy.sh. 4 params are required to deploy it (you'll see them in the file).
After deployment, grab the url from API Gateway. Make a POST to the 2 endpoints using {"Some": "Test"} as the b

[2021-10-06 12:32] msailes opened #1195 "GraalVM native-image support for ARM64 architectures"
### Feature description

AWS Lambda now supports ARM64 architecture. It would be great if I could create a ARM64 native binary to target this.

https://aws.amazon.com/blogs/aws/aws-lambda-functions-powered-by-aws-graviton2-processor-run-your-functions-on-arm-and-get-up-to-34-better-price-performance/

GraalVM supports ARM64
https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-21.2.0

[2021-10-07 05:03] sdelamo commented on #1183
@lightbody the workaround would be to [disable environment deduction](https://docs.micronaut.io/latest/guide/#environments) and configure the environments you require explicitely.

[2021-10-08 11:38] sdelamo opened #1197 "Document constructor injection does not work with Lambda handlers"
### Issue description

Only @Inject works

[2021-10-12 07:33] archenroot opened #1199 "GraalVM docker-native mutliple runtime java.lang.NoSuchMethodException: io.micronaut.http.netty.*"
### Expected Behavior

_No response_

### Actual Behaviour

There is dozen of errors during docker run of docker-native image, sample here:
java.lang.NoSuchMethodException: io.micronaut.http.netty.stream.HttpStreamsHandler$2.channelWritabilityChanged
or  io.micronaut.http.server.netty.RoutingInBoundHandler.channelRead
etc..

all seem related to netty.stream package.

### Steps To Reproduce

My cla

[2021-10-19 17:35] mithenks opened #1202 "Bad Request using application as Alexa Skill Webservice"
### Expected Behavior

If I generate a new application using `aws-alexa` feature, I expect to use the endpoint `/alexa` as custom endpoint in Alexa Skill configuration.

### Actual Behaviour

I have a `400 Bad Request` error when making a `POST` request on the `/alexa` endpoint.

### Steps To Reproduce

1. Create a fresh [micronaut application](https://micronaut.io/launch?type=DEFAULT&name=demo&pa

[2021-10-25 15:05] dkowis opened #1203 "Leaking apache commons-logging still"
### Expected Behavior

I should not have any commons-logging in my runtime classpath, unfortunately, I do.

### Actual Behaviour

I found issue/PR: #187 / #189, but it doesn't seem to cover all the things. Like, using the sts client still pulls in commons-logging, which makes everything upset in native-image land.

checking my dependencies,

[code]

<details>
<summary> expand for the tree</summary

[2021-10-26 19:36] #1166 closed, assigned to nobody

[2021-11-01 13:43] JouperCoding opened #1204 "Timeout for routes not found"
### Issue description

When running a Micronaut 3.1.3 Lambda function which exposes APIs, the Micronaut behavior when calling API endpoints that does not exists will always results in either the lambda timeout or gateway timeout.

This is also true when running the lambda function using SAM + Docker locally.

In either cases running locally or deployed in AWS, using {proxy+} to forward requests ar

[2021-11-01 13:55] #1204 closed

[2021-11-02 13:09] frehov opened #1205 "micronaut-aws: Documentation regression? from version 3.0.2 onwards, missing configurationproperties keys"
### Expected Behavior

When reading the documentation I expect there to be no errors recorded into the documentation from adoc.
and all configuration properties config keys to be present.

### Actual Behaviour

multiple instances of `Unresolved directive in <stdin> - include::/home/runner/work/micronaut-aws/micronaut-aws/build/generated/configurationProperties/io.micronaut.aws.sdk.v2.client.urlCon

[2021-11-08 11:18] #943 closed

[2021-11-09 10:34] frehov commented on #1203
I've opened an issue over at the aws-sdk-v2-java repository asking for an upgrade of the apache httpclient to httpclient5 which should remedy this issue for good since httpclient5 is using SLF4J as a logging facade instead of using commons-logging.

[2021-11-12 09:03] sdelamo opened #1211 "Unable to generate docs"
### Issue description

I broken docs generation here:

https://github.com/micronaut-projects/micronaut-aws/commit/d41c3e6d834bc3342522899f341606ca7c4fd49c

[code]

[2021-11-12 09:04] sdelamo commented on #1211
@melix do you know how to solve this?

i tried adding to `aws-bom/grade.properties`

[code]

without success.

[2021-11-12 09:25] melix commented on #1211
I understand what's going on, and again I can't imagine how this ever worked. You can workaround by adding `evaluationDependsOnChildren()` in the root `build.gradle` file.

[2021-11-12 12:31] sdelamo commented on #1211
adding `evaluationDependsOnChildren()` does not solve the issue.

[2021-11-12 12:35] melix commented on #1211
You need both `evaluationDependsOnChildren()` in the root `build.gradle` file **and** `skipDocumentation=true`. Note that I'm rewriting the docs plugin in `micronaut-build`, so hopefully this is going to become easier.

[2021-11-12 13:13] sdelamo commented on #1211
I have created a draft PR but it is still not working. Any hint is welcome.

[2021-11-12 13:25] melix commented on #1211
Weird. As a hotfix you can do this in the root `build.gradle`, but we'll have to fix properly:

[code]

[2021-11-12 15:14] sdelamo opened #1213 "Kotlin docs for @FunctionClient are broken"
### Expected Behavior

<img width="763" alt="Screenshot 2021-11-12 at 16 11 54" src="https://user-images.githubusercontent.com/864788/141489512-cf07acd3-f692-4fe8-a3f9-0bdc75146011.png">

### Actual Behaviour

_No response_

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.1.3

[2021-11-12 17:23] JouperCoding opened #1214 "Cors Enabled: Options Method Not Allowed"
### Expected Behavior

OPTIONS Method or CORS preflight request should respond with 200 if the given request headers

Access-Control-Request-Method: POST
Access-Control-Request-Headers: authorization,content-type,x-api-version

is allowed per the CORS configuration details.

[code]

Note the above sample of explicitly setting the allowedHeaders when running a lambda function + API GW.
The followin

[2021-11-13 07:21] #1211 closed

[2021-11-15 17:39] #1214 closed

[2021-12-23 05:48] nathanwang-ops opened #1254 "AbstractMicronautLambdaRuntime doesn't work for cloudwatch event"
### Expected Behavior

`public class BookLambdaRuntime extends AbstractMicronautLambdaRuntime<CloudWatchLogsEvent, Void, Map<String, Object>, String> {

public static void main(String[] args) {
    try {
        new BookLambdaRuntime().run(args);

    } catch (MalformedURLException e) {
        e.printStackTrace();
    }
}

@Override
@Nullable
protected RequestHandler<Map<String, Object>, String>

[2022-01-20 15:08] pgressa commented on #1091
This is already done.

[2022-01-20 15:08] #1091 closed

[2022-02-03 12:12] jaecktec commented on #1098
I face the same issue. Are there any updates on this?

[2022-02-06 21:27] abondar24 commented on #207
Question regarding the following situation: what if this exception happens on pojo from externlal library?

[2022-02-18 01:29] amitdusane commented on #1184
Any update on this issue?

[2022-02-23 08:58] theaspect opened #1287 "MicronautLambdaHandler should populate diagnostic aws values for slf4j"
### Feature description

`MicronautRequestHandler` has `populateMappingDiagnosticContextValues` but `MicronautLambdaHandler` for some reason does not.

If there're no objection I could prepare PR replicating the same method from RequestHandler. Or probably it make sense to abstract it into general class.

[2022-02-23 19:28] graemerocher commented on #1287
PRs welcome

[2022-03-07 03:50] #1213 closed

[2022-03-07 22:26] patrickdronk opened #1307 "Jackson subtypes are not being used in MicronautRequestHandler"
### Expected Behavior

I've got a simple micronaut application with an embedded server.
Given this class
[code]
I can simply make a POST and should see the result being a man
payload of the request:
{
  "type": "man",
  "name": "Feeny"
}

### Actual Behaviour

When I'm trying to handle the same payload as a MicronautRequestHandler  I get serialization issues
[code]

### Steps To Reproduce
[code]
#

[2022-03-09 08:26] pokharelsrj opened #1308 "Incorrect status code returned when authoriser is present in lambda's request context"
### Expected Behavior

Micronaut `AuthorizationExceptionHandler` class should return status `Unauthorized` whenever a token has expired or is invalid as opposed to status `Forbidden` which implies that the user does not have access to a particular resource.

### Actual Behaviour

For an input request with an `authoriser` object, the `MicronautLambdaAuthenticationFetcher`(in micronaut-aws) builds a

[2022-03-11 16:46] dmytrostarosud-globality opened #1311 "[AWS SDK V2] S3PresignerFactory using application configuration"
### Feature description

There is default factory `software.amazon.awssdk.services.s3.presigner.S3Presigner.create()`, which uses default configurations providers from `software.amazon.awssdk.*`.

But it ignores configuration provided by Micronaut (e.g. `application.yaml`).
And to use it with `application.yaml` one has to do something like:

[code]

It would be great to have dedicated factory doin

[2022-03-14 09:26] pokharelsrj commented on #1308
@graemerocher @sdelamo @ilopmar Hey, Do you guys have any input on this?

[2022-03-16 10:46] ashwini-desai commented on #1044
@sdelamo - Is there any update on this? There is [another issue](https://github.com/micronaut-projects/micronaut-aws/issues/1308) on similar lines.

[2022-03-16 12:19] sdelamo commented on #1044
I am going to work on AWS once 3.4.0 release is out. I hope to update soon.

[2022-03-17 06:43] patrickdronk commented on #1307
Short answer. The MicronautRequestHandler implements the AWS RequestHandler, which in itself doesn't support this.
I've resolved it using the MicronautRequestStreamHandler. It uses the micronaut ConversionService which has a the same serializer as in a regular application.

[2022-03-17 06:43] #1307 closed

[2022-03-25 06:11] forresthopkinsa opened #1317 "API Gateway Proxy Integration payload format 2.0 incompatible"
### Expected Behavior

API Gateway HTTP API using proxy integration with a Lambda running Micronaut should work by default

### Actual Behaviour

Micronaut silently fails to parse parameters from the default Proxy Integration payload format (2.0) and so every request is read as a `GET /` (and it is very, _very_ difficult to troubleshoot)

### Steps To Reproduce

1. Create a `Micronaut Application`

[2022-03-25 06:12] forresthopkinsa commented on #1317
[Gitter thread](https://gitter.im/micronautfw/questions?at=623abc0c257a35782541d0a2)

[2022-03-25 20:11] cwlbraa opened #1318 "micronaut-opensearch equivalent to micronaut-elasticsearch"
### Feature description

As a user of AWS' opensearch services, I'd love an easy way to manage opensearch client configuration in micronaut. Prior to Elasticsearch and Opensearch diverging, I could get this integration from `micronaut-elasticsearch`. Would it be reasonable to fork a `micronaut-opensearch` from `micronaut-elasticsearch` that uses all the new opensearch client libraries?

[micronaut

[2022-03-26 01:51] forresthopkinsa commented on #1317
Related: #321

[2022-03-26 21:42] msailes commented on #1317
While working on this, you might want to consider if you want to add support for Application Load Balancers. The request / response format is very similar.

[2022-03-29 10:17] sdelamo opened #1321 "Remove dependency to Jackson"
### Issue description

AWS module has a hard dependency on Jackson

https://github.com/micronaut-projects/micronaut-aws/blob/4db9b51d28d48e88a575fecb7fdb7ff2031c871c/function-aws-api-proxy/src/main/java/io/micronaut/function/aws/proxy/MicronautLambdaContainerHandler.java#L24-L27

[2022-03-30 09:43] sdelamo opened #1325 "Unable to get Lambda Context in Applications"
Lambda context should be retriebable in Applications or Functions. Currently only works in functions.

### Actual Behaviour

Given such code:

[code]

[code]

If I use the following in a raw handler it works:

[code]

However, if I use it in a `@Controller` it does not work.

[code]

### Steps To Reproduce

#### Requisites

- [AWS Account](https://aws.amazon.com/free/)
- [CDK CLI](https://docs.aws

[2022-03-30 09:50] sdelamo opened #1326 "Document how to load the context"
### Issue description

For Lambda functions we initialize singletons eagerly.

Then, for each request, we [register the Lambda context as a singleton programmatically](https://github.com/micronaut-projects/micronaut-aws/blob/master/function-aws/src/main/java/io/micronaut/function/aws/MicronautRequestHandler.java#L83).

We can retrieve the context lazily in a singleton:

[code]

We need to document

[2022-03-30 09:50] sdelamo commented on #1326
@graemerocher would you say this is the recommended way to retrieve the context in a `@Singleton`?

[2022-03-31 07:28] graemerocher commented on #1326
better written as:

[code]

[2022-03-31 08:40] sdelamo commented on #1326
I tried with `BeanProvider` and it did not work. I will try again.

[2022-03-31 08:52] graemerocher commented on #1326
perhaps you need `@Any BeanProvider<Context>`

[2022-03-31 09:54] sdelamo commented on #1326
Thanks, I will try that.

[2022-03-31 16:38] ketanonline opened #1328 "Support for micronaut-serde-processor"
### Issue description

Aws-common module doesn't support micronaut-serde-processor when running on EC2.

Impact:
Application can not use micronaut-serde-processor in conjuction with micronaut-aws-sdk-v2 since it has direct dependency on Jackson-databind. E.g. AmazonComputeInstanceMetadataResolver depends on ObjectMapper from jackson.

Steps:

Create micronaut application with micronaut-aws-sdk-v2

[2022-04-01 13:59] sdelamo opened #1330 "Lamba Proxy does not populate response headers correctly"
### Issue description

In an `Application` with the `netty` runtime the following test passes:

[code]

However, an `Application`  with `lambda` runtime the following tests fails:

[code]

With `headers` being null in the response.

[2022-04-01 16:20] sdelamo opened #1332 "Lambda Context is not registered as a Singleton for Micronaut Applications"
### Issue description

Currently, we register only Lambda Context as a singleton for Micornaut functions not for applications.

[2022-04-04 00:38] surbhi65 commented on #18
How is this issue closed when it still exists?

[2022-04-04 07:59] msailes commented on #18
@surbhi65 maybe you could make a new issue with the problem you're having and details of what you're doing.

[2022-04-06 08:04] sdelamo opened #1343 "Add support for CloudWatch Embedded Metrics"
### Issue description

Integrate with loudWatch Embedded Metrics Format (EMF). If you produce metrics in a specific json format to std out in a Lambda instance they’ll automatically get turned into CloudWatch metrics.

The Doc page - https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Embedded_Metric_Format.html
The Java client written by the CloudWatch team - https://github.

[2022-04-24 12:11] AramMessdaghi9001 opened #1352 "Add support for FunctionUrls"
### Feature description

AWS now supports [Function URLs](https://docs.aws.amazon.com/lambda/latest/dg/lambda-urls.html) which do not seem to work ootb with the default Micronaut Lambda Proxy Handler

[2022-04-24 12:52] AramMessdaghi9001 commented on #1328
It seems like Lambda Native has a similar issue here.
When I run the default launch project with aws-lambda, graalvm and serialization-jackson (which includes microanut-serde-jackson), I have the following exception:
[code]

[2022-04-24 18:15] msailes commented on #1352
Can you post the error you get?

[2022-04-25 08:56] AramMessdaghi9001 commented on #1352
[code]

[2022-05-02 09:19] driverpt commented on #790
Any ETA on this one ?

[2022-05-03 07:41] renovate[bot] opened #1360 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore(deps): update aws-java-sdk monorepo to v1.12.211 (`com.amazonaws:aws-java-sdk-core`, `com.amazonaws:aws-java-sdk-bom`)
 - [ ] chore(deps):

[2022-05-06 12:14] vyusuf opened #1361 "Swagger Static Resource does not work with Micronaut Lamdba Applications"
### Expected Behavior

When setting static routes in application.yml, I expect the routes to serve the files in the paths defined
i.e.
[code]

### Actual Behaviour

Returns a `Page not Found` response

### Steps To Reproduce

1. Create a new kotlin/gradle application using [micronaut launch](https://micronaut.io/launch) selecting the following features: aws-lambda, openapi, swagger-ui
2. ./gradlew

[2022-05-11 13:02] driverpt opened #1376 "Lambda Native Image with Deserialization Error"
### Expected Behavior

AWS Lambda API Gateway Proxy Native Lambda to start

### Actual Behaviour

[code]

### Steps To Reproduce

Dependencies:

[code]

SAM Lambda Declaration:

[code]

Makefile

[code]

Using `sam build`

### Environment Information

- Operating System: MacOS
- GraalVM 22.0
- AWS Lambda `provided.al2` with `bootstrap` + `func`

### Example Application

_No response_

### Version